*.sass-cache
bin/init
bin/initializer.rb
db/backups/*.gz
drupal-streamline.make
docroot/.drupal_streamline_guard_running
tmp/
migration_data/*images/
migration_data/*export/

# Ignore the stylesheets
docroot/sites/all/themes/ilr_theme/css/

# Ignore the secrets
config/secrets.php

# Ignore Mac-only files
.DS_Store
