/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */
@import "breakpoint";

/////////
// Singularity variables
//
@include breakpoint-set('to ems', true);
// @include add-grid(12);
// @include add-gutter(.1);

// Breakpoints variables
$xs: 25em;
$small: 32em;
$medium: 46em;
$large: 65em;
$xl: 85em;
$max-width: $xl;
$small-only: $small $medium;
$medium-only: $medium $large;
$large-only: $large $xl;
$full-break: 1450px;

/// Mixin - xs Breakpoint
/// Allows easier @include xs {} syntax
@mixin xs {
  @include breakpoint($xs) {
    @content;
  }
}

/// Mixin - small Breakpoint
/// Allows easier @include small {} syntax
@mixin small {
  @include breakpoint($small) {
    @content;
  }
}

@mixin small-only {
  @include breakpoint($small $medium) {
    @content;
  }
}

/// Mixin - medium Breakpoint
/// Allows easier @include medium {} syntax
@mixin medium {
  @include breakpoint($medium) {
    @content;
  }
}

@mixin medium-only {
  @include breakpoint($medium $large) {
    @content;
  }
}

/// Mixin - large Breakpoint
/// Allows easier @include large {} syntax
@mixin large {
  @include breakpoint($large) {
    @content;
  }
}

@mixin large-only {
  @include breakpoint($large-only) {
    @content;
  }
}

/// Mixin - xl Breakpoint
/// Allows easier @include xl {} syntax
@mixin xl {
  @include breakpoint($xl) {
    @content;
  }
}

/// Mixin - max-width Breakpoint
/// Allows easier @include max-width {} syntax
@mixin max-width {
  @include breakpoint($max-width) {
    @content;
  }
}
