// ==================================================
// Non-semantic Helper Classes
// ==================================================
// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
  display: none !important;
  visibility: hidden;
}

.visible {
  display: block !important;
  visibility: visible;
}

// When you dont want links clickable
.dead-link { pointer-events: none; }

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// ==================================================
// clearing
// ==================================================
// Use clearfix class on parent to clear nested columns

.clearfix:before, .clearfix:after{
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
  content: " ";
}

// ==================================================
// basic alignment
// ==================================================
.float-left    { float: left }
.float-right   { float: right }

.alignleft     { float: left; margin: 0 1em 1em 0;}
.aligncenter   { text-align: center; clear: both; margin: 20px auto; display: block;}
.alignright    { float: right; margin: 20px 0px 20px 20px;}
.alignnone     { margin: 20px 0px 20px 0px;}
.center        { margin: 0 auto }
