// ==================================================
// headings
// ==================================================
// consider reworking per https://medium.com/p/8e51498c3713
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0;
  font-family: $font-headers;

  a {
    font-weight: inherit;
  }
}

h1 {
  font-size: $h1-size;
  color: $h1-text;

  a {
    color: $h1-link;

    &:hover {
      color: $h1-link-hover;
    }
  }
}

h2 {
  font-size: $h2-size;
  color: $h2-text;
  margin-bottom: $mod-01;

  a {
    color: $h2-link;

      &:hover {
        color: $h2-link-hover;
      }
   }
}

h3 {
  font-size: $h3-size;
  color: $h3-text;
  margin-bottom: $mod-01;

  a {
    color: $h3-link;

    &:hover {
      color: $h3-link-hover;
    }
  }
}

h3 + img.alignright,
h3 + img.alignleft,
h3 + img.alignnone,
h3 + img.aligncenter {
  margin-top: $mod-01;
}

h4 {
  font-size: $h4-size;
  color: $h4-text;
  margin-bottom: ms(-2);

  a {
    color: $h4-link;

    &:hover {
      color: $h4-link-hover;
    }
  }
}

h5 {
  font-size: $h5-size;
  color: $h5-text;
  margin-bottom: ms(-2);

  a {
    color: $h5-link;

    &:hover {
      color: $h5-link-hover;
    }
  }
}

h6 {
  font-family: $font;
  font-size: $h6-size;
  font-weight: 600;
  color: $h6-text;
  margin-bottom: ms(-2);

  a {
    color: $h6-link;

    &:hover {
      color: $h6-link-hover;
    }
  }
}


// ==================================================
// content
// ==================================================
p {
  font-size: $p-size;
  color: $p-text;
  margin-bottom: ms(2);
  line-height: ms(2);

  img {
    margin: 0;
  }
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: ms(3);
  }

hr {
  clear: both;
  height: 0;
  border: 0;
  border: 1px solid $rule;
  border-top: 1px solid $rule;
  margin: $mod-01 0 ms(1);
}

code, pre {
  font-size: 15px;
}

blockquote {
  border-left: 10px solid $blockquote;
  padding-left: 15px;
  font-style: italic;
  color: $blockquote;
}

figure {

}

figcaption {

}

// ==================================================
// lists
// ==================================================

//  we use a lot of ULs that aren't bulleted.
// don't forget to restore the bullets within content.
nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

ol {
  padding-left: 2em;
  line-height: ms(2);
  li {
    list-style: decimal;
    background: none;
    padding: 0;
  }
}

ul {
  padding: 0;
  line-height: ms(2);
}

ul.none {
  list-style: none;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

li {
  list-style: none;
  background: url(../images/squareBullet.gif) no-repeat 0 8px;
  font-size: ms(0);
  margin: 0 0 ms(-2) $mod-01;
  padding: 0 0 0 ms(0);

  p {

  }
}

ul.tabs {
  li {
    background: none;
    margin: 0;
    padding-left: 0;
  }
}

dl {
  line-height: ms(2);
}

dl dt {
  font-size: ms(0);
  font-weight: bold;
}

dl dd {
  font-size: ms(0);
  margin: 0;
}


// ==================================================
// links
// ==================================================
a, a:visited {
  color: $link;
  text-decoration: none;
  outline: 0;
}
a:hover, a:focus {
  color: $link-hover;
  text-decoration: underline;
}

p a, p a:visited {
  line-height: inherit;
}


// ==================================================
// text level semantics
// ==================================================
em, i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 1.1em;
}

cite {

}

q {

}

sub, sup {
  font-size: ms(-2);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


// ==================================================
// embedded content
// ==================================================
img, iframe, object, video {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  border: 0;
}


// ==================================================
// tables
// ==================================================
table {
  border-collapse: collapse;
  border-left: 1px dotted $rule;
  border-bottom: 1px dotted $rule;
  text-align: left;
  width: 100%;
  font-size: $p-size;

  thead {

  }

  caption {

  }

  th {
    background-color: $table-bg-th;
    border-right: 1px solid $rule;
    border-bottom: 1px solid $rule;
    color: $th-text;
    font-weight: 400;
    line-height: ms(1);
    padding: 4px 8px;
    //text-transform: uppercase;
  }

  td {
    background-color: $table-bg;
    border-top: 1px dotted $rule;
    border-right: 1px dotted $rule;
    color: $td-text;
    line-height: ms(1);
    padding: 8px;
  }

  td.highlight {
    background-color: $table-bg-alt;
    color: #000000;
  }

  th.center, td.center {
    text-align: center;
  }
}
