// ==================================================
// Brand
// ==================================================
$brand: #941e12;
$brand-dark: #363636;
$brand-light: #ACACAC;
$gold: #DED7BA;
$selection: #212121;
$highlight: #ffc;
$bg-body: $brand;
$content-area: #fff;

// ==================================================
// Typography
// ==================================================
$font: 'Open Sans', sans-serif;
$font-headers: "chaparral-pro","Palatino Linotype","Book Antiqua",Palatino,serif;

$h1-size: em-calc(25);
$h2-size: em-calc(20);
$h3-size: em-calc(18);
$h4-size: em-calc(16);
$h5-size: em-calc(14);
$h6-size: em-calc(14);

$h1-text: #212121;
$h2-text: #212121;
$h3-text: #212121;
$h4-text: #212121;
$h5-text: #212121;
$h6-text: #212121;

$h1-link: #212121;
$h2-link: #212121;
$h3-link: #212121;
$h4-link: #212121;
$h5-link: #212121;
$h6-link: #212121;

$h1-link-hover: #212121;
$h2-link-hover: #212121;
$h3-link-hover: #212121;
$h4-link-hover: #212121;
$h5-link-hover: #212121;
$h6-link-hover: #212121;

$p-text: #212121;
$p-size: em-calc(16);

$link: darken($brand, 5%);
$link-hover: $brand;
$nav-color: #2D4063;
$footer-nav-color: #ccc;

$rule: #212121;

$blockquote: #444;

$table-bg: #fff;
$table-bg-hover: darken($table-bg, 10%);
$td-text: #444;
$th-text: #212121;


// ==================================================
// Buttons
// ==================================================
$button-bg: #eee;
$button-bg-focus: #e5e5e5;


// ==================================================
// Forms
// ==================================================
$valid: none;
$invalid: #f0dddd; // red

$input-bg: #fff;
$input-border: #ccc;
$input-color: #a4a4a4;
$label-color: #444;

$input-size: 1.2em;
