$row-width: rem-calc(960);
// ==================================================
// Modular Scale
// ==================================================
$ms-base: 14px, 960px;
$ms-ratio: $golden;

// Lists modular scale for debugging
//@debug ms-list($Start: -2, $End: 4, $Bases: $ms-base, $Ratios: $ms-ratio);
//Current scale: -2, -1, 0, 1, 2, 3, 4, 5 (8.65248px, 12.62939px, 14px, 20.43479px, 22.65248px, 33.06418px, 36.65248px, 53.49896px)

// ==================================================
// Brand
// ==================================================
$black: #000000;
$brand: #941e12;
$brand-dark: #363636;
$brand-light: #ACACAC;
$cornell-red: #b31b1b;
$gold: #DED7BA;
$gray-dark: #5c5350;
$gray-medium: #8b8b85;
$gray-light: #cfcdc4;
$selection: #212121;
$highlight: #ffc;
$spotlight: #f0eee4;
$bg-body: $brand;
$content-area: #fff;

// ==================================================
// Typography
// ==================================================
$font: 'Open Sans', sans-serif;
//$font-headers: "chaparral-pro","Palatino Linotype","Book Antiqua",Palatino,serif;
$font-headers: 'Marcellus', serif;

$h1-size: ms(3); //33.069px
$h2-size: ms(2); //22.652px
$h3-size: ms(1); //20.438px
$h4-size: ms(1); //20.438px
$h5-size: em-calc(16); //16px
$h6-size: ms(0); //14px

$h2-sm-size: em-calc(16);

$h1-text: #212121;
$h2-text: #212121;
$h3-text: #212121;
$h4-text: #212121;
$h5-text: #212121;
$h6-text: #212121;

$h1-link: #212121;
$h2-link: #212121;
$h3-link: #212121;
$h4-link: #212121;
$h5-link: #212121;
$h6-link: #212121;

$h1-link-hover: #212121;
$h2-link-hover: #212121;
$h3-link-hover: #212121;
$h4-link-hover: #212121;
$h5-link-hover: #212121;
$h6-link-hover: #212121;

$p-text: #212121;
$p-size: ms(0);
$p-sm-size: em-calc(12);

$link: darken($brand, 5%);
$link-hover: $brand;
$nav-color: #2D4063;

$rule: #cfcdc4;

$blockquote: #444;

$table-bg: #f8f8f6;
$table-bg-th: #f0eee4;
$table-bg-alt: #e7e6e6;
$table-bg-hover: darken($table-bg, 10%);
$td-text: #444;
$th-text: #212121;


// ==================================================
// Buttons
// ==================================================
$button-bg: #eee;
$button-bg-focus: #e5e5e5;


// ==================================================
// Forms
// ==================================================
$valid: none;
$invalid: #f0dddd; // red

$input-bg: #fff;
$input-border: #ccc;
$input-color: #a4a4a4;
$label-color: #444;

$input-size: 1.2em;
