$row-width: rem-calc(960);
// ==================================================
// Modular Scale
// ==================================================
$ms-base: 16px, 960px;
$ms-ratio: $golden;

// Lists modular scale for debugging
//@debug ms-list($Start: -2, $End: 4, $Bases: $ms-base, $Ratios: $ms-ratio);
//Current scale: -2, -1, 0, 1, 2, 3, 4, 5 (8.65248px, 12.62939px, 14px, 20.43479px, 22.65248px, 33.06418px, 36.65248px, 53.49896px)

$mod-01: 12.62939px; //Based on mod scale. Number is not applied/calculated properly by mixin.

// ==================================================
// Brand
// ==================================================
$brand: #941e12;
$brand-dark: #363636;
$brand-light: #ACACAC;
$cornell-red: #b31b1b;
$gold: #DED7BA;
$gray-dark: #5c5350;
$gray-medium: #8b8b85;
$gray-light: #cfcdc4;
$selection: #212121;
$highlight: #ffc;
$cornell-tan: #f0eee4;
$bg-body: $brand;
$content-area: #fff;

// ==================================================
// Typography
// ==================================================
// Varialbes here and implementation in _typography.scss
// should probably be updated to a map
// See https://medium.com/p/8e51498c3713
$font: 'Open Sans', sans-serif;
$font-headers: 'Marcellus', serif;

$h1-size: ms(3);
$h2-size: ms(2);
$h3-size: ms(1);
$h4-size: ms(1);
$h5-size: rem-calc(16);
$h6-size: ms(0);

$h2-sm-size: rem-calc(16);

$header-color: #787878;
$h1-text: lighten($header-color, 10%);
$h2-text: lighten($header-color, 10%);
$h3-text: lighten($header-color, 10%);
$h4-text: $header-color;
$h5-text: $header-color;
$h6-text: $header-color;

$h1-link: $h1-text;
$h2-link: $h2-text;
$h3-link: $h3-text;
$h4-link: $h4-text;
$h5-link: $h5-text;
$h6-link: $h6-text;

$h1-link-hover: #212121;
$h2-link-hover: #212121;
$h3-link-hover: #212121;
$h4-link-hover: #212121;
$h5-link-hover: #212121;
$h6-link-hover: #212121;

$p-text: #212121;
$p-size: ms(0);
$p-sm-size: $mod-01;

$link: darken($brand, 5%);
$link-hover: $brand;
$nav-color: #2D4063;

$rule: #cfcdc4;

$blockquote: #444;

$table-bg: #f8f8f6;
$table-bg-th: $cornell-tan;
$table-bg-alt: #e7e6e6;
$table-bg-hover: darken($table-bg, 10%);
$td-text: #444;
$th-text: #212121;

// ==================================================
// Forms
// ==================================================
$valid: none;
$invalid: #f0dddd; // red

$input-bg: #fff;
$input-border: #ccc;
$input-color: #a4a4a4;
$label-color: #444;

$input-size: $mod-01;
