.no-layout{
  .jPanelMenu-panel {
    box-shadow: none;
  }
}

#page {
  background: $bg-body;
}

.container {
  max-width: $page-max-width;
  @extend .center;
}

#main {
  clear: both;
  @include add-grid(12);
  padding-top: $main-top-padding;
  position: relative;
  @include transition-duration(.3s);

  body:not(.subsite) & {
    @extend %page-with-sticky-header;
  }

  &[data-eq-state="widescreen"] {
    @extend %triptych;
  }

  .field-collection-container {
    border-bottom: none;
  }

  #highlighted {
    margin-top: $main-top-padding * -1;
  }

  @include pie-clearfix;

  #sidebar-first {
    display: none;
  }

  [data-eq-state="regular-nav"] & {
    #sidebar-first {
      display: block;
    }
    @extend %two-cols-with-sidebar;
  }

  #content {
    @include trailer(1);
  }

  #content, #sidebar-second {
    @include pie-clearfix;
    padding: 0 1em 1em 1em;

    .section {
      @include leader(.5);
    }
  }

  &[data-eq-state="550"] {
    #content, #sidebar-second {
      .block:not(.block-system) > article:not(.node-certificate-programs),
      .block .views-row {
        @extend %two-column;
      }
    }
  }

  &[data-eq-state="768"] {
    #content, #sidebar-second {
      .block:not(.block-system) > article:not(.node-certificate-programs),
      .block .views-row {
        @extend %three-column;
      }
    }
    #sidebar-second .block-bean .field-type-entityreference {
      @extend %two-column;
      article {
        @extend %one-column;
      }
    }
  }

  &[data-eq-state="widescreen"] {
    #content, #sidebar-second {
      @include trailer(2);
    }
  }
}

#content-bottom {
  clear: both;
  article {
    @extend %one-column;
  }
  &[data-eq-state="550"] {
    article {
      @extend %two-column-masonry;
    }
  }
  &[data-eq-state="768"] {
    article {
      @extend %three-column-masonry;
    }
  }
  &[data-eq-state="widescreen"] {
    article {
      @extend %four-column;
    }
  }

}

footer {
  @include pie-clearfix;
  .container {
    .block-bean {
      @extend %one-column;
    }
    &[data-eq-state="550"], &[data-eq-state="768"], &[data-eq-state="widescreen"] {
      .block-bean {
        @extend %three-column;
      }
    }
  }

  .copyright {
    clear: both;
  }
}

%page-with-sticky-header {
  margin-top: $header-height-small; // top-margins are here due to the fixed header

  [data-eq-state="regular-nav"] & {
    margin-top: $header-height; // top-margins are here due to the fixed header
  }
}
