#page {
  background: $bg-body;
}

.container {
  max-width: $page-max-width;
  @extend .center;
}

#main {
  clear: both;
  @include add-grid(12);
  padding-top: $main-top-padding;
  // @include sgs-change('debug', true);
  // @include background-grid();
  @include transition-duration(.3s);

  body:not(.subsite) & {
    @extend %page-with-sticky-header;
  }

  &[data-eq-state="widescreen"] {
    @extend %triptych;
  }

  &[data-eq-state="550"],
  &[data-eq-state="768"] {
    #sidebar-second article {
      @extend %two-column;
    }
    #content .region-content > .block {
      @include grid-span(12);
      .block-bean article {
        @extend %two-column;
      }
    }
  }

  #highlighted {
    margin-top: $main-top-padding * -1;
  }

  @extend .clearfix;

  #sidebar-first {
    display: none;
  }

  [data-eq-state="regular-nav"] & {
    #sidebar-first {
      display: block;
    }
    @extend %two-cols-with-sidebar;
  }

  #content {
    padding: 0 1em;

    .ilr-video-wrapper {
      clear: both;
      @include trailer(2);
    }
  }

  #content, #sidebar-second {
    @extend .clearfix;

    .section {
      @include leader(.5);
    }
  }

  #content-bottom {
    clear: both;
    @include leader(3);
    article {
      @extend %one-column;
    }
  }

  &[data-eq-state="550"],
  &[data-eq-state="768"] {
    #content-bottom article {
      @extend %two-column-masonry;
    }
  }
}

%page-with-sticky-header {
  margin-top: $header-height-small; // top-margins are here due to the fixed header

  [data-eq-state="regular-nav"] & {
    margin-top: $header-height; // top-margins are here due to the fixed header
  }
}
