body.node-type-certificate-programs {
  .submitted {
    display: none;
  }

  #page-title {
    display: none;
  }

  .container[data-eq-state="mobile-nav"] {
    #main[data-eq-state="768"] {
      #content {
        @include grid-span (10,2);
      }
    }
  }

  #main {
    #content {
      @include grid-span (10,2);
      padding: 0 0 1em 0;

      h1.title {
        @include trailer(.5);
      }

      .field-name-field-image {
        text-align: center;
      }

      .field-name-field-prerequisites-requirements {
        @include trailer(1);
        border-bottom: 1px solid $gray-medium;
      }

      .field-name-field-course {
        article {
          @include padding-trailer(1);
          .group-main-content {
            p {
              @include adjust-font-size-to(16px);
              @include adjust-leading-to(1.2);
            }
          }
          h2 {
            @include trailer(.3);
            a {
              font-family: $font;
              font-size: 22px;
              font-weight: 300;
              color: $student-portrait-color;
            }
          }
          .class-details {
            @include trailer(0);
            .timespan, .date-time, .location, .course_details {
              display: none;
            }
            .action {
              a.button {
                @include leader(0);
                @include trailer(0);
                font-family: $font;
                font-size: ms(0);
                color: $cornell-red;
                border-bottom: 2px solid $cornell-red;
                span {
                  display: none;
                }
              }
            }
          }
        }
      }

      .field-name-field-course + h3.field-label {
        @include padding-leader(1);
        border-top: 1px solid $gray-medium;
      }
    }

    #sidebar-first {
      @include grid-span (3,1);
    }
  }

  #main[data-eq-state="768"] {
    #content {
      @include grid-span (7,4);
      .field-name-field-image {
        text-align: left;
      }
    }
  }

  #main[data-eq-state="widescreen"] {
    #content {
      @include grid-span (8,4);
      .field-name-field-image {
        text-align: left;
      }
    }
  }
}
