body.node-type-channel-page, body.node-type-memory-book {
  #sidebar-first {
    display: none !important;
  }
  .submitted, ul.social-share {
    display: none;
  }
  footer {
    clear: both;
  }
  .container[data-eq-state="mobile-nav"] {
    #main[data-eq-state="768"] {
      #content {
        @include grid-span (12);
      }
    }
  }
  #main {
    @include grid-span(12);
    @include add-gutter(1/3);
    #content {
      @include grid-span (12);
      padding: 0;
      @include margin-trailer(0);
      #breadcrumb {
        @include grid-span (10,2);
        clear: both;
      }
      #page-title {
        @include grid-span (10,2);
        clear: both;
        @include margin-trailer(1);
      }
      .section {
        min-width: 100%;
      }
    }
  }
}
