// Extends one-column-page in subsite_homepages.scss
body.subsite-front {
  &.ilr-at-70 {
    #main {
      padding-top: 0; // Hides the edit tab. Refactor?
      #content {
        padding: 0 !important;
        .section {
          @include leader(0);
          .field-name-body {
            @include padding-leader(0);
            // The following contexts override the _one-columnn declarations
            @include context('#main','#main[data-eq-state="768"]') {
              .block-bean article.node-reflection {
                @extend %one-column;
              }
            }
            @include context('#main','#main[data-eq-state="widescreen"]') {
              .block-bean article.node-reflection {
                @extend %one-column;
              }
            }
          }
        }
      }
      .node-reflection { // This is the featured reflection
        h2 {
          @include grid-span(12);
        }
        ul {
          @include grid-span(12);
          right: -.5em;
        }
        .field-name-field-file {
          @include grid-span(12);
        }
        .field-type-text-with-summary {
          @include grid-span(12);
        }
        .field-name-field-full-name {
          @include grid-span(12);
        }
      }
    }

    #main[data-eq-state="768"], #main[data-eq-state="widescreen"] { /* eliminates need for context mixin */
      .node-reflection {
        display: block; /* overrides flex box created by %image-heading-text */
        h2 {
          @include grid-span(7,6);
        }
        ul {
          @include grid-span(7,6);
          right: 0;
        }
        .field-name-field-file {
          @include grid-span(5,1);
        }
        .field-name-body {
          @include grid-span(7,6);
        }
        .field-name-field-full-name {
          @include grid-span(7,6);
        }
      }
    }

    // The reflection cards are here
    #content-bottom {
      padding: 0;
      clear: both;
      &[data-eq-state="widescreen"] {// overrides base styles
        article {
          @extend %three-column-masonry-narrow;
        }
      }
    }
  }
}
