@mixin columnize($element, $cols) {
  $layout: $cols * 2;
  $span: $layout / $cols;
  #{$element} {
    @include layout($layout) {
      margin-right: 0;
      // Reset all nth-child elements
      &:nth-of-type(even),
      &:nth-of-type(odd) {
        @include float-span($span);
        clear: none;
      }
      &:nth-of-type(#{$cols}n) {
        @include float-span($span, 'last');
      }
      &:nth-of-type(#{$cols}n + 1) {
        clear: left;
      }
    }
  }
}

%one-column {
  @include layout(4) {
    @include float-span(4);
    &:nth-of-type(even), // these avoid any even/odd
    &:nth-of-type(odd) { // nth-child conflicts
      @include float-span(4);
    }
  }
}

%two-column {
  @include layout(4) {
    @include float-span(2);
    &:nth-of-type(even) {
      @include float-span(2, 'last');
    }
  }
}

%two-column-masonry {
  @include layout(4) {
    @include add-gutter-style('split');
    @include float-span(2);
  }
}

%two-thirds-split-column {
  @include layout(3) {
    @include float-span(1,'last');
    &:nth-of-type(1) {
      @include float-span(2);
    }
  }
}

%three-column {
  @include layout(6) {
    @include float-span(2);
    &:nth-of-type(even) {
      @include float-span(2);
    }
    &:nth-of-type(3n) {
      @include float-span(2, 'last');
    }
    &:nth-of-type(3n + 1) {
      clear: left;
    }
  }
}

%three-column-masonry {
  @include layout(3) {
    @include add-gutter(.1);
    @include add-gutter-style('split');
    @include float-span(1);
  }
}

%three-column-masonry-narrow {
  @extend %three-column-masonry;
  @include add-gutter(.15);
}

%four-column {
  @include layout(8) {
    @include add-gutter-style('split');
    @include float-span(2);
  }
}
