// Extends one-column-page in subsite_homepages.scss
body.subsite-front, body.microsite {
  #main {
    padding-top: 0; // Hides the edit tab. Refactor?
    #content {
      padding: 0 !important;
      .section {
        @include leader(0);
      }
    }
  }

  #content-bottom {
    padding: 0;
    clear: both;
    .microsite-register, .microsite-get-your-ticket {
      @include grid-span(12);
    }
  }

  #content-bottom[data-eq-state="550"] {
    .microsite-speakers {
      article.speaker  {
        width: 50% !important;
        float: left;
      }
    }
  }

  #content-bottom[data-eq-state="768"] {
    .microsite-featured-speakers {
      article.featured-speaker {
        @extend %two-column-masonry;
      }
    }
    .microsite-moderators {
      article.moderator {
        @extend %two-column-masonry;
      }
    }
    .microsite-speakers {
      article.speaker {
        width: 33% !important;
        float: left;
      }
    }
    .microsite-venue {
      .venue {
        @include grid-span(6,1);
      }
      .map {
        @include grid-span(6,7);
      }
    }
  }

  #content-bottom[data-eq-state="widescreen"] {
    .microsite-featured-speakers {
      &[data-items='3'] {
        article.featured-speaker {
          @extend %three-column;
          width: 27% !important;
        }
      }
      &[data-items='2'] {
        article.featured-speaker {
          &:nth-of-type(odd) {
            @include grid-span(6,1);
          }
          &:nth-of-type(even) {
            @include grid-span(6,7);
          }
        }
      }
    }
    .microsite-individual-speaker {
      article.featured-speaker {
        @extend %one-column;
      }
    }
    .microsite-moderators {
      article.moderator {
        @extend %four-column;
      }
      .mod-last-row {
        article.moderator {
          @extend %three-column;
          width: 27% !important;
        }
      }
    }
    .microsite-speakers {
      article.speaker  {
        @extend %four-column;
        width: 25% !important;
      }
    }
    .microsite-venue {
      .venue {
        @include grid-span(5,1);
      }
      .map {
        @include grid-span(7,6);
      }
    }
  }
}
