body.microsite {
  #sidebar-first {
    display: none !important; //override from nav settings
  }

  .container[data-eq-state="regular-nav"] {
    @extend %one-column-page;

    .field-name-body {
      max-width: 100% !important;
      @extend %homepage-text;
    }
  }

  #main {
    padding-top: 0; // Hides the edit tab. Refactor?
    #content {
      padding: 0 !important;
      .section {
        @include leader(0);
      }
    }
  }

  #content-bottom {
    padding: 0;
    clear: both;
    .microsite-register, .microsite-get-your-ticket {
      @include grid-span(12);
    }
  }

  #content-bottom[data-eq-state="550"] {
    .microsite-featured-speakers {
      article.featured-speaker {
        &:nth-of-type(3n+0) {
          clear: both;
          margin-top: 34px;
        }
      }
    }
    .microsite-moderators {
      &[data-items='7'] {
        .mod-last-row {
          article.moderator:nth-of-type(3) {
            clear: both;
          }
        }
      }
      &[data-items='3'] {
        article.moderator {
          &:nth-of-type(3n+0) {
            clear: both;
            margin-top: 13px;
          }
        }
      }
    }
  }

  #content-bottom[data-eq-state="768"] {
      .microsite-featured-speakers {
        &[data-items='2'] {
          article.featured-speaker {
            @extend %two-column-masonry;
          }
        }
      }
    .microsite-moderators {
      &[data-items='7'] {
        .mod-last-row {
          article.moderator:nth-of-type(3) {
            clear: both;
          }
        }
      }
    }
    .microsite-venue {
      .venue {
        @include grid-span(6,1);
      }
      .map {
        @include grid-span(6,7);
      }
    }
  }

  #content-bottom[data-eq-state="widescreen"] {
    .microsite-featured-speakers {
      &[data-items='3'] {
        article.featured-speaker {
          @extend %three-column;
          width: 27% !important;
        }
      }
      &[data-items='2'] {
        article.featured-speaker {
          &:nth-of-type(odd) {
            @include grid-span(6,1);
          }
          &:nth-of-type(even) {
            @include grid-span(6,7);
          }
        }
      }
    }
    .microsite-individual-speaker {
      article.featured-speaker {
        @extend %one-column;
      }
    }
    .microsite-moderators {
      &[data-items='4'] {
        article.moderator {
          @extend %four-column;
        }
      }
      &[data-items='3'] {
        article.moderator {
          @extend %three-column;
        }
      }
      &[data-items='7'] {
        .mod-last-row {
          article.moderator {
            @extend %three-column;
            width: 27% !important;
          }
        }
      }
    }
    .microsite-venue {
      .venue {
        @include grid-span(5,1);
      }
      .map {
        @include grid-span(7,6);
      }
    }
  }
}
