.page-programs-professional-programs-workshops-courses-training,
.page-programs-professional-programs-search,
body.node-type-sdc-course,
body.node-type-sdc-class {
  #main {
    @include layout--full-width-content-grid;

    .group-main-content .class-details {
      .instructors {
        @include wrapper($section-max-width);

        img {
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
        }
      }
    }

    .sidebar {
      z-index: 2;
    }
  }
}
