body.subsite-front {
  #sidebar-first {
    display: none !important; //override from nav settings
  }
  &.worker-institute, &.catherwood-library { // consider using context to add body class
    .container[data-eq-state="regular-nav"] {
      @extend %one-column-page;

      .field-name-body {
        max-width: 100% !important;
        @extend %homepage-text;
      }
    }
  }
  &.ilr-online {
    .container[data-eq-state="regular-nav"] {
      @extend %two-cols-right-sidebar;

      .field-name-body {
        max-width: 100% !important;
        @extend %homepage-text;
      }
    }
  }
}
