body.subsite-front {
  #main {
    @include layout--two-cols-no-first-sidebar;

    #content {
      @include breakpoint(1250px) {
        // This fixes a layout bug caused by the singularity grid system. See
        // the layout--full-width-content-grid mixin in layout/_base.scss. The
        // @include grid-span(12); line sets #content to width: 100% and float:
        // right, which collapses the box. This uncollapses it.
        float: none;
      }
    }
  }

  #sidebar-first {
    display: none !important;
  }

  &.node-type-channel-page,
  &.worker-institute,
  &.ilr-at-70,
  &.microsite {
    #main {
      @include layout--full-width-grid;
    }
  }
}

// Subsite card links
.node-post {
  h2 {
    a {

    }
  }
  ul.links {
    a {
      color: $cornell-red;
    }
  }
}


// Update classes for the roster of neutrals, which will be the only part of
// scheinman still on D7 as of 10/2020.
body.subsite.scheinman-institute {
  #block-ilr-mega-menu-ilr-mega-menu.block-ilr-mega-menu,
  #sidebar-first {
    display: none !important; // Ugh.
  }

  #main #content {
    grid-column: 1/3;
  }
}
