%two-col-content-area {
  #main {
    #content {
      font-weight: normal;
      @include add-grid(9 3);
      @include add-gutter(2em);
      article > h1, article > h2 {
        @include grid-span(1);
      }
      .group-main-content {
        clear: left !important;
        @include grid-span(1);
      }
      .group-sidebar {
        @include grid-span(1,2);
      }
      // Handle right column on nested articles
      // i.e. courses with series on /professional-programs/public-offerings
      article article .group-sidebar {
        margin-right: -42%;
        width: 35%;
      }
    }
    &[data-eq-state="widescreen"] {
      @include add-grid(9 3);
      #content {
        @include grid-span(1);
        .section { max-width: 100%; }
      }
    }
  }
}
