// @todo: refactor to be more generalized and reusable
%public-node-add-form {
  @include clearfix;
  padding: 1em;
  max-width: $section-max-width;
  margin: 0 auto;

  fieldset#edit-body-und-0-format {
    display: none;
  }
  .form-item-hidden {
    @extend .hidden;
  }
  .form-wrapper, .form-item-title {
    input[type='text'], textarea {
      border: 1px solid $gray-medium;
      border-radius: 6px;
      width: 100%; // So fields won't overlap in 2 columns
    }
    input#edit-field-file-und-0-upload, input.form-file {
      border: 1px solid $gray-medium;
      border-radius: 6px;
      margin-right: .5em;
      padding: .2em;
      font-weight: 300;
    }
    select {
      width: 100%;
    }
    .form-type-textarea, #field-youtube-video-add-more-wrapper {
      clear: both;
    }

    &:not(.field-widget-text-textarea-with-summary):not(.field-widget-youtube):not(.form-actions) {
      @extend %two-column;
      #main[data-eq-state="320"] & {
        @extend %one-column;
      }
    }
  }
  span.field-edit-link { // Hides edit summary link
    display: none;
  }
  .file-widget, .image-widget {
    input[type='submit'] {
      background-color: $gray-light;
      border: 1px solid $gray-medium;
      border-radius: 6px;
      padding: 0 .2em;
    }
  }
  .form-actions {
    input[type='submit'] {
      background-color: white;
      border: 2px solid $cornell-red;
      border-radius: 6px;
      padding: .4em 1em;
      color: $cornell-red;
    }
  }

  .disclaimer {
    font-style: italic;
    clear: both;
    @include padding-leader(1);
    @include adjust-font-size-to(14px);
    line-height: 1.2em;
  }

  label {
    font-weight: 300;
  }
}

.block-ilr-reflection {
  @include margin-leader(1);
  @include padding-trailer(1);
  h2 {
    @include centered-title;
  }
  .node-reflection-form {
    @extend %public-node-add-form;
  }
}
