#letters-listing {
  @include clearfix;

  ul li {
    list-style-type: none;
    float: left;
    width: .9em;
    text-align: center;
    padding: 0;
    background: none;
    @include adjust-font-size-to(11px);

    a {
      display: block;
      border-bottom: none;
      text-transform: uppercase;
    }
  }

  [data-eq-state="regular-nav"] & {
    li {
      @include adjust-font-size-to(20px);
      width: 1.2em;
      a {
        border-right: 1px solid $gray-light;
      }
    }
  }
}


