.animated-button {
  // width: 170px;
  width: 100%;
  height: 170px;
  background: $bg-body url("../images/MILR-MBA-still.gif") no-repeat center top;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  -o-transition:background 0.3s ease-in-out;
  transition:background 0.3s ease-in-out;
  &:hover {
    background: $bg-body url("../images/MILR-MBA-animation.gif") no-repeat center top;
  }
}
