%bean-base {
  #highlighted & {
    @extend %carousel-slide;
  }

  article {
    h2, h2 a {
      font-family: $font-headers;
      color: $h2-text;
      @include adjust-leading-to(1);
    }
    @include addHighlightColors('.category', 'color');
    h3.category {
      text-transform: uppercase;
      font-family: $font;
      font-weight: bold;
      @include adjust-font-size-to(14px);
    }
  }

  #sidebar-second &,
  #content & {
    article[data-eq-state="medium"] {
      @extend %thumb;
    }
    article[data-eq-state="small"] {
      @extend %slug;
    }
  }

  // This confirms that the wrapper (i.e. tagged-content)
  // is a direct descendant of the field. That way, we can
  // avoid cards in block-collection beans
  .field-name-field-content-bottom-region > & {
    > h2 { @extend .hidden; }
    article {
     @extend %card;
    }
  }
}
