article.node-post { // Both post teaser and full nodes
  @include padding-leader(1.5);
  @include trailer(1.5);
  border-top: 1px solid $gray-light;
  .field-name-field-published-date {
    font-weight: 300;
    @include adjust-font-size-to(16px);
    @include trailer(1);
  }
  .field-name-field-author-reference {
    @include trailer(1);
    &:before {
      content: 'By ';
    }
  }
  .field-name-body.field-type-text-with-summary {
    display: block !important; // Override tagged content block settings
  }
  &.node-teaser {
    .field-type-image {
      top: 10px !important;
    }
    .field-name-body {
      padding-top: 0 !important;
      h2, h3 {
        margin-left: 0 !important;
      }
    }
  }
  &[data-eq-state="large"] {
    &.node-teaser .field-name-body {
      margin-left: 115px;
    }
  }

  .field-type-image {
    @include grid-span (3,1);
    padding-right: 21px;
  }
  .field-name-body, .field-name-field-published-date {
    @include grid-span (9,4);
  }
  .field-name-body {
    margin-bottom: 13px !important;
    padding-right: 89px;
  }
}

body.node-type-basic-page {
  .container {
    #main {
      &[data-eq-state="768"],
      &[data-eq-state="widescreen"] {
        #content {
          article.node-post {
            @extend %one-column;
          }
        }
      }
    }
  }
}
