article.node-post { // Both post teaser and full nodes
  .field-name-field-published-date {
    font-weight: 300;
    @include adjust-font-size-to(16px);
    @include trailer(1);
    border-bottom: 1px solid $gray-medium;
  }
  .field-name-field-author-reference {
    @include trailer(1);
    &:before {
      content: 'By ';
    }
  }
  .field-name-body.field-type-text-with-summary {
    display: block !important; // Override tagged content block settings
  }
  &.node-teaser {
    .field-type-image {
      top: 10px !important;
    }
    .field-name-body {
      padding-top: 0 !important;
      h2, h3 {
        margin-left: 0 !important;
      }
    }
  }
  &[data-eq-state="large"] {
    &.node-teaser .field-name-body {
      margin-left: 115px;
    }
  }
}
