.view-featured-book {
  .views-row {
    @include trailer(1);
    @include trailing-border();
    border-color: $gray-medium;
  }
  .field-name-field-thumbnail {
    float: left;
    margin-right: 1em;
  }
}
