#breadcrumb {
  .breadcrumb {
    padding-top: 14px;
    @include adjust-font-size-to(14px);
    //font-size: ms(-1);
    text-transform: uppercase;

    span {
      padding: 0 .5em;
    }

    a {
      text-decoration: none;
    }
  }
}
