//Button locations
// _form_elements.scss //form input, netid login
// _certificate_info_aside.scss //Get Started box
// _courses_and_classes.scss //Register, Request, Notify Me buttons
// _course_search.scss //course search and filter in left column
// _mailchimp.scss //MAI email updates form

%button {
  background-color: $student-portrait-color;
  border: none;
  border-radius: 20px;
  padding: .2em 1em;
  font-family: $font;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  box-shadow: 1px 2px 4px $gray-medium;
  display: block;

  &:hover, &:focus {
    background-color: $spotlight-color;
    cursor: pointer;
    color: white;
  }
}
