article.node-campaign-card {
  border: 1px solid #e3e3e3;
  padding: 13px 13px 34px;
  margin-bottom: 21px;
  flex-direction: column;
  display: inline-flex;
  h3                        { order: 1; }
  .field-name-field-image   { order: 2; }
  h2                        { order: 3; }
  .field-name-body          { order: 4; }
  p                         { order: 5; }

  &:nth-of-type(2n+1) {
    clear: both !important;
  }

  &:hover {
    background: white;
    border: 1px solid #858585;
  }

  .field-name-field-image {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 280px;
    overflow-y: hidden;
    img {
      width: 100%;
    }
  }

  h2 {
    font-family: $font;
    font-size: 21px;
    font-weight: 100;
    line-height: 1.2;
    margin: 13px 0;
    padding: 0;
  }

  h3 {
    display: none;
  }

  .field-name-body {
    padding-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .button {
    background: $spotlight-color;
    box-shadow: 1px 2px 4px $gray-medium;
    color: white;
    font-weight: 100;
    text-transform: none;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    margin: 0;
    padding: 7px 20px;
    &:hover {
      background: $student-portrait-color;
    }
  }
}

#main[data-eq-state="550"] {
  article.node-campaign-card {
    width: 48%;
    float: left;
    margin-right: 1% !important;
    min-height: 500px;
    .field-name-field-image {
      max-height: 250px;
    }
  }
}

#main[data-eq-state="768"] {
  article.node-campaign-card {
    width: 48%;
    float: left;
    margin-right: 2% !important;
    min-height: 500px;
    .field-name-field-image {
      max-height: 250px;
    }
  }
}

#main[data-eq-state="widescreen"] {
  article.node-campaign-card {
    width: 48% !important;
    float: left;
    margin-right: 2% !important;
    min-height: 200px;
    .field-name-field-image {
      max-height: 310px;
    }
  }
}