%carousel-slide {
  position: relative;
  .category, .field-name-body, .field-name-field-para-main-page-content {
    display: none;
  }
  article {
    @extend %one-column;
    position: relative;
    z-index: 1;
    &:hover h2 a {
      border-bottom: 1px solid white;
    }
    h2 {
      @extend %title-overlay;
      a {
        bottom: .5em;
      }
    }
  }
  img {
    display: block;
  }
  .field-name-field-image {
    position: relative;
    z-index: -1; // Push image and gradient back so h2 link is visible/active
    a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      @include background-image(linear-gradient(rgba(#000000, 0), rgba(#000000, 0) 75%, rgba(#000000, .6)));
    }
  }
}
