.tower {
  clear: both;
  text-align: center;
  @extend %icon-tower;
  @include adjust-font-size-to(40px);
  @include adjust-leading-to(1.5);
  color: $gray-medium;
  @include leader(1);
  @include trailer(0);
  margin: 0 auto !important;
}

.centered-blurb {
  text-align: center;
  font-family: $font-headers;
  @include adjust-font-size-to(24px);
  @include adjust-leading-to(1);
  max-width: $section-max-width;
  margin: 0 auto 1em !important;
}

.paragraphs-item-sponsor-message {
  margin-bottom: 0;
  h2 {
    text-align: center;
    @include adjust-font-size-to(22px);
    @include adjust-leading-to(1);
    font-weight: 300;
  }
  .tower {
    font-weight: 300;
    color: $p-text;
    &:before {
      @include adjust-font-size-to(25px);
      @include adjust-leading-to(1.5);
      color: $gray-medium;
      display: block;
    }
  }
}

#main[data-eq-state="768"] {
  .centered-blurb {
    @include adjust-font-size-to(30px);
    @include adjust-leading-to(1);
  }
}

#main[data-eq-state="widescreen"] {
  .centered-blurb {
    @include adjust-font-size-to(30px);
    @include adjust-leading-to(1);
  }
}
