.class-details {
  div.form-type-radio {
    @include leader(1);
    clear: left;
    float: left;
    margin-right: .5em;
  }

  .radio-label {
    float: left;
    @include leader(1);
    @include trailer(1);
    span {
      display: block;
    }
  }

  span, .street-block {
    clear: left;
    @include adjust-font-size-to(14px, .7);
    &.timespan {
      display: block;
      color: $gray-dark;
      text-transform: uppercase;
    }
    &.location {
      display: block;
    }
  }

  .details-rule {
    clear: left;
    @include leader(1);
    @include adjust-font-size-to(14px, .7);
    border-top: 1px solid $gray-light;
    text-transform: uppercase;
  }

  .date-time span.date {
    display: block;
    font-weight: bold;
    @include adjust-font-size-to(16px);
  }

  .button {
    @include trailer(1);
    @extend %cornell-button;
    clear: left;
    .cost {
      display: block;
      text-align: center;
      @include adjust-font-size-to(14px, .5);
      padding-bottom: .3em;
    }
  }
  .button-request-info span {
    display: none;
  }
  .request-info {
    @include adjust-font-size-to(14px, .7);
    font-style: italic;
    display: block;
  }

  .class-detail-toggle {
    display: none;
    .action {
      clear: both;
    }

    .country {
      display: none;
    }

    .locality-block {
      @include trailer(1);
    }
  }
}

.page-professional-programs-public-offerings {
  @extend %two-col-content-area;
}
.node-type-sdc-course {
  @extend %two-col-content-area;
  .field-name-field-catalog-prefix {
    @include adjust-font-size-to($h2-size);
    font-family: $font-headers;
    color: $h2-text;
  }
  article {
    .field-name-body {
      clear: left;
    }
    form {
      @include trailer(2);
    }
    article {
      h2 {
       margin-bottom: 0;
      }
    }
  }

}

.node-type-sdc-class {
  @extend %two-col-content-area;
  .field:not(.field-name-field-price) {
    @include trailer(1);
  }
  .field-label {
    margin-bottom: 0;
  }
  article {
    h2 {
      margin-bottom: 0;
    }
    .field-name-body {
      clear: left;
    }
  }
}

.view-sdc-course-listing {
  h3 {
    @include padding-leader(1);
    margin: 0;
    &:first-of-type {
      padding: 0;
    }
  }
  > .view-content > div {
    @include rhythm-margins(1, 1);
    @include trailing-border();
    border-style: 1px solid;
    border-color: $gray-light;
  }
}

.view-sdc-class-calendar {
  h3 {
    margin-bottom: .5em;
  }
  li {
    background: none;
    .views-field-rendered-entity {
      @include trailer(1);
    }
  }
  div.calendar-calendar {
    max-width: 400px;

    td {
      text-align: center;
    }
  }
  .view-footer {
    @include padding-leader(1);
  }
}
