#block-ilr-sdc-listings-course-search {
  @include trailer(2);
  z-index: 10;
  position: absolute;
  margin-left: 12px;
  top: 226px;

  #edit-s {
    background: white;
    padding: 3px;
    border: 1px solid $gray-medium;
  }
  #edit-s-autocomplete-aria-live {
    background: yellow;
  }
}
