article.node-slide {
  background: $bg-body;
  border-radius: 6px;
  border: 1px solid $bg-body;
  min-height: 550px;
  padding: 2em 1.5em 1em;
  // float: left;
  text-align: center;
  &:hover {
    // background: #f1f1f1;
    // background: white;
    border: 1px solid $gray-light;
  }
  h2 {
    padding-top: 1em;
    font-weight: 300;
  }
  .field-name-image {
    background: $darker-red;
    border: 1px solid $darker-red;
    border-radius: 50%;
    width: 170px; //150px
    height: 170px; //150px
    margin: 0 auto;
    #animated-content {
      background: $cornell-red;
      border: 1px solid #c01d1d;
      border-radius: 50%;
      width: 140px; //120px
      height: 140px; //120px
      margin: 15px auto 0;
      line-height: 140px;
      position: relative;
      font-size: 22px;
      // text-transform: uppercase;
      font-weight: 400;
      color: white;
      .stage-1, .field-name-content-1, .field-name-content-2, .field-name-content-3, .field-name-content-4, .field-name-content-5 {
        color: white;
        opacity: 0;
      }
      .field-name-content-0 {
        position: relative;
      }
      .field-name-content-1 {
        position: relative;
        top: -140px;
      }
      .field-name-content-2 {
        position: relative;
        top: -280px;
      }
      .field-name-content-3 {
        position: relative;
        top: -420px;
      }
      .field-name-content-4 {
        position: relative;
        top: -560px;
      }
      .field-name-content-5 {
        position: relative;
        top: -700px;
      }
      .stage-1 {
        position: relative;
        top: -840px;
      }
      span.circle-blurb {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2;
        font-weight: 300;
        span.first-word {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      span.circle-blurb.all-caps {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2;
        span.first-word {
          font-weight: 300;
        }
        span.last-word {
          text-transform: uppercase;
        }
      }
    }
  }
  .field-name-description {
    p {
      line-height: 1.75;
    }
  }
}
