article.field-name-field-animated-text-card {
  border: 1px solid transparent;
  border-radius: 6px;
  min-height: 550px;
  padding: 2em 1.5em 1em;
  text-align: center;
  &:hover {
    border: 1px solid $gray-light;
  }
  h2 {
    padding-top: 1em;
    font-weight: 300;
  }
  .field-name-field-teaser p {
    line-height: 1.75;
  }
  .link-item {
    height: 0;
    visibility: hidden;
  }
  ul {
    background: $cornell-red;
    border: 15px solid $darker-red;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px $darker-red;
    list-style-type: none;
    width: 170px;
    height: 170px;
    margin: 0 auto 0;
    padding-left: 0;
    font-size: 22px;
    font-weight: 400;
    color: white;
    &.active{
      background: $darker-red;
      border: 15px solid $cornell-red;
    }
    li {
      list-style-position: inside;
      height: 0;
      padding-left: 0;
      opacity: 0;
      visibility: hidden;
      &:first-child {
        width: 140px;
        height: 140px;
        border: 1px solid #c01d1d;
        border-radius: 50%;
        line-height: 125px;
        opacity: 1;
        visibility: visible;
      }
      span.circle-blurb {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2;
        font-weight: 300;
        text-transform: lowercase;
        span.first-word {
          font-weight: 600;
          text-transform: uppercase;
          &.number {
            font-size: 50px;
          }
        }
        &.all-caps {
          span.last-word {
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

#main[data-eq-state="550"] {
  article.field-name-field-animated-text-card {
    min-height: 0;
  }
}
