// Establish the layout and overrides
@include sgs-change('debug', true);
body.node-type-experience-report {
  .container {
    #main {
      padding-top: 0;
      #content {
        @include grid-span(12);
        @include add-gutter(1/3);
        // @include background-grid($color: gainsboro);
        padding: 0 0 1em 0;
        .section {
          margin-top: 0;
        }
      }
    }
  }

  .container[data-eq-state="regular-nav"] {
    #main {
      padding-top: 20px;
      #content {
        .section {
          max-width: 100%;
        }
      }
    }
  }

  #breadcrumb {
    @include grid-span (9,3);
    .breadcrumb {
      padding-bottom: 25px; //half of negative top position of img
    }
  }
  #page-title {
    display: none;
  }
}

article.node-experience-report {
  .group-highlighted {
    height: auto;
    overflow: auto;
    @include trailer(2);
    background: $promo-color; //$student-portrait-color

    .group-title-and-focus {
      // @include grid-span (12);
      @include padding-leader(1);
      text-align: center;
      #main[data-eq-state="widescreen"] & {
        @include padding-leader(1);
      }
      .container[data-eq-state="mobile-nav"] & {
        @include padding-trailer(2);
      }
      padding-left: 0;
      color: white;

      // .crumb {
      //   text-transform: uppercase;
      //   color: $spotlight-color;
      //   @include adjust-font-size-to(14px);
      //   display: none;
      // }

      h1 {
        @include adjust-font-size-to(34px);
        @include adjust-leading-to(1);
        color: white;
        font-family: $font;
      }

      .field-name-field-program {
        @include adjust-font-size-to(28px);
        @include adjust-leading-to(1);
      }
    }

    .field-name-field-image {
      // @include grid-span (12);
      text-align: center;
      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }
  }

  .group-main-content {
    @include grid-span (10,2);
    .field {
      overflow: hidden;
    }
    .field-name-field-image {
      text-align: center; //for mobile
    }
  }

  .container[data-eq-state="regular-nav"] & {
    // .group-main-content {
    //   // @include grid-span (9,4); with nav
    //   @include grid-span (8,3);
    // }

    // .group-sidebar {
    //   //styles
    // }
  }
}

#main[data-eq-state="768"], #main[data-eq-state="widescreen"] {
  article.node-experience-report {
    .group-highlighted {
      height: 270px;
      overflow: visible;
      .group-title-and-focus {
        @include grid-span (4,3);
        text-align: left;
      }
      .field-name-field-image {
        @include grid-span (4,7);
        text-align: left;
        img {
          position: relative;
          z-index: 2;
          top: -50px;
          height: 320px;
          width: 320px;
        }
      }
    }
  }
}

#main[data-eq-state="550"] {
  .group-highlighted {
    .field-name-field-image {
      img {
        height: 270px;
        width: 270px;
      }
    }
  }
}

#main[data-eq-state="768"] {
  .group-main-content {
    // @include grid-span (9,4); with nav
    @include grid-span (8,3);

    // .field-type-paragraphs ~ .field-type-paragraphs .paragraphs-item-just-image {
    //   float: left;
    //   background: yellow;
    // }
    // .field-type-paragraphs ~ .field-type-paragraphs .paragraphs-item-just-text {
    //   float: left;
    //   background: orange;
    // }

    .paragraphs-item-image-with-text {
      .field-name-field-image {
        margin-top: 0;
        @include grid-span (5,1);
      }
      .field-name-field-text-paragraph {
        @include grid-span (7,6);
      }
    }

    .field-name-field-image {
      text-align: left;
    }
  }
}

#main[data-eq-state="widescreen"] {
  .group-main-content {
    @include grid-span (6,4);
    .paragraphs-item-image-with-text {
      .field-name-field-image {
        margin-top: 0;
        @include grid-span (4,1);
      }
      .field-name-field-text-paragraph {
        @include grid-span (8,5);
      }
    }

    .field-name-field-image {
      text-align: left;
    }
  }
}

#content-bottom {
  padding: 1em 3em 3em;
  body:not(.front):not(.subsite-front) & {
      background: white;
      // @include background-grid($color: gainsboro);
  }
  // .section {
  //   @include background-grid;
  // }

  .field-name-field-content-bottom-region {
    h2 {
      @include adjust-font-size-to(19px);
      @include adjust-leading-to(1);
      display: block !important;
      visibility: visible;
      color: $promo-color;
      margin: 0;
    }
    article {
      @extend %one-column;
      //overrides %card styles
      border: none;
      margin-top: 2em;
      margin-bottom: 0;
      h3 {
        display: none;
      }
      .field-name-field-image {
        text-align: center;
        img {
          border-radius: 50%;
          height: 150px;
          width: 150px;
        }
      }
    }
  }

  &[data-eq-state="550"] {
    article {
      @extend %two-column;
    }
  }
  &[data-eq-state="768"] {
    article {
      @extend %four-column;
    }
  }
  &[data-eq-state="widescreen"] {
    .section {
      max-width: 960px;
    }
    article {
      @extend %four-column;
    }
  }
}
