// Establish the layout and overrides
body.node-type-experience-report {
  .container[data-eq-state="regular-nav"] {
    #main {
      #content {
        @include grid-span(12);
        @include add-gutter(1);
        .section {
          max-width: 100%;
        }
      }
    }
  }
  .container[data-eq-state="mobile-nav"] {
    #main { padding: 0; }
  }
  #breadcrumb {
    @include grid-span (9,3);
    .breadcrumb {
      padding-bottom: 25px; //half of negative top position of img
    }
  }
  #page-title {
    display: none;
  }
}

article.node-experience-report {
  .group-highlighted {
    height: 270px;
    @include trailer(2);
    background: $promo-color; //$student-portrait-color

    .group-title-and-focus {
      @include grid-span (4,3);
      @include padding-leader(1);
      #main[data-eq-state="widescreen"] & {
        @include padding-leader(1);
      }
      .container[data-eq-state="mobile-nav"] & {
        @include padding-trailer(2);
      }
      padding-left: 0;
      color: white;

      // .crumb {
      //   text-transform: uppercase;
      //   color: $spotlight-color;
      //   @include adjust-font-size-to(14px);
      //   display: none;
      // }

      h1 {
        @include adjust-font-size-to(34px);
        @include adjust-leading-to(1);
        color: white;
        font-family: $font;
      }

      // .title {
      //   margin-bottom: 0;
      // }

      .field-name-field-program {
        @include adjust-font-size-to(28px);
        @include adjust-leading-to(1);
      }
    }

    .field-name-field-image {
      @include grid-span (4,7);
      img {
        position: relative;
        z-index: 2;
        top: -50px;
        height: 320px;
        width: 320px;
        border-radius: 50%;
      }
    }
  }

  .group-main-content {
    // @include grid-span (9,4);
    @include grid-span (9,3);
    .field {
      max-width: $section-max-width;
      overflow: hidden;
      ul {
        margin-top: 0;
      }
    }
  }

  .container[data-eq-state="mobile-nav"] & {
    .group-main-content {
      @include grid-span (12);
      padding: 0 2em;
    }
    .group-sidebar {
      padding: 0 2em;
    }
  }

  #main[data-eq-state="320"] & {
    .group-main-content,
    .group-sidebar {
      padding: 0 1em;
    }
  }

  .group-sidebar {
    @include trailer(2);
    .field-label { // Sidebar headings
      margin-bottom: .5em;
      @include leader(1);
    }
  }
}

#main[data-eq-state="550"], #main[data-eq-state="320"] {
  article.node-experience-report {
    .group-highlighted {
      height: auto;
      overflow: auto;
      .group-title-and-focus {
        @include grid-span (12);
        text-align: center;
      }
      .field-name-field-image {
        @include grid-span (12);
        text-align: center;
        img {
          position: static;
          z-index: 0;
          top: 0;
        }
      }
    }
  }
}

#main[data-eq-state="550"] {
  .field-name-field-image {
    img {
      height: 270px;
      width: 270px;
    }
  }
}

#main[data-eq-state="320"] {
  .field-name-field-image {
    img {
      height: 200px;
      width: 200px;
    }
  }
}

#content-bottom {
  padding: 1em 3em 3em;
  body:not(.front):not(.subsite-front) & {
      background: white;
  }

  .field-name-field-content-bottom-region {
    h2 {
      @include adjust-font-size-to(19px);
      @include adjust-leading-to(1);
      display: block !important;
      visibility: visible;
      color: $promo-color;
      margin: 0;
    }
    article {
      //overrides %card styles
      border: none;
      margin-top: 2em;
      margin-bottom: 0;
      .field-name-field-image {
        text-align: center;
        img {
          border-radius: 50%;
          height: 150px;
          width: 150px;
        }
      }
    }
  }

  article {
    @extend %one-column;
    // background: $promo-color;
    h3 {
      display: none;
    }
  }
  &[data-eq-state="550"] {
    article {
      @extend %two-column;
    }
  }
  &[data-eq-state="768"] {
    article {
      @extend %four-column;
    }
  }
  &[data-eq-state="widescreen"] {
    article {
      @extend %four-column;
    }
  }
}
