body.node-type-visiting-fellow, body.node-type-experience-report {
  #breadcrumb {
    .breadcrumb {
      @include padding-trailer(1);
    }
  }

  #page-title {
    display: none;
  }

  .container[data-eq-state="mobile-nav"] {
    #main[data-eq-state="768"] {
      .region-highlighted {
        margin-top: 70px;
        .group-title-and-focus {
          @include grid-span (5,2);
        }
      }
      #content {
        @include grid-span (10,2);
      }
    }
  }

  .container[data-eq-state="regular-nav"] {
    #main {
      @include padding-leader(1);
    }
  }

  .region-highlighted {
    height: auto;
    overflow: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    @include trailer(1.5);

    .group-title-and-focus {
      text-align: center;
      padding-left: 0;
      #main[data-eq-state="widescreen"] & {
        @include padding-leader(1);
      }
      .container[data-eq-state="mobile-nav"] & {
        @include padding-trailer(2);
      }
      h1, h2, h3 {
        color: white;
        font-family: $font;
        margin-bottom: 0;
      }
      h1 {
        @include adjust-font-size-to(44px);
        line-height: 1;
      }
    }
    .field-name-field-image {
      text-align: center;
      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }
  }

  #main {
    padding-top: 0;
    @include grid-span(12);
    @include add-gutter(1/3);
    #content {
      .section {
        margin-top: 0;
      }
    }
  }

  #main {
    #content {
      @include grid-span (10,2);
      padding: 0 0 1em 0;
      .field {
        overflow: hidden;
      }
      .field-name-field-image {
        text-align: center; //for mobile
      }
    }

    #sidebar-first {
      @include grid-span (3,1);
    }
  }

  #main[data-eq-state="768"], #main[data-eq-state="widescreen"] {
    .region-highlighted {
      margin-top: 50px;
      padding-top: 0;
      padding-bottom: 0;
      height: 270px;
      overflow: visible;
      .group-title-and-focus {
        @include grid-span (4,3);
        text-align: left;
        @include padding-leader(1);
      }
      .field-name-field-image {
        @include grid-span (6,7);
        text-align: left;
        img {
          position: relative;
          z-index: 2;
          top: -50px;
          height: 320px;
          width: 320px;
        }
      }
    }
  }

  #main[data-eq-state="550"] {
    .region-highlighted {
      .field-name-field-image {
        img {
          height: 270px;
          width: 270px;
        }
      }
    }
  }

  #main[data-eq-state="768"] {
    #content {
      @include grid-span (7,4);
      //@todo: add callout/quote

      .field-name-field-image {
        text-align: left;
      }
    }
  }

  #main[data-eq-state="widescreen"] {
    #content {
      @include grid-span (8,4);
      //@todo: add callout/quote

      .field-name-field-image {
        text-align: left;
      }
    }
  }
  @extend %related-content-nav;
}

//experience-report specific
body.node-type-experience-report {
  .region-highlighted {
    background: $promo-color;
    .group-title-and-focus {
      h1 {
        span {
          display: block;
          font-size: ms(3);
          line-height: 1.1;
          font-weight: 300;
        }
      }
      h2 {
        @include adjust-font-size-to(28px);
        @include adjust-leading-to(1);
      }
      h3 {
        @include adjust-font-size-to(19px);
        @include adjust-leading-to(1);
      }
    }
  }
  #content-bottom {
    .region-content-bottom {
      h2 {
        color: $promo-color;
      }
      article {
        .field-name-field-image {
          background: $promo-color;
        }
        .field-name-field-year-as-text {
          display: none;
        }
      }
    }
  }
}

//visiting-fellow specific
body.node-type-visiting-fellow {
  .region-highlighted {
    background: $spotlight-color;
    .group-title-and-focus {
      .field-name-field-email {
        margin-bottom: 0;
      }
      span.field-label {
        color: white;
        font-weight: 400;
      }
      h1 {
        clear: right;
      }
      h2, h3 {
        font-weight: 400;
        @include adjust-font-size-to(19px);
        @include adjust-leading-to(1);
      }
      a, a:visited {
        color: lighten($spotlight-color, 60%);
        border-bottom: none;
      }
      a:hover, a:focus {
        color: $gray-light;
        border-bottom: none;
      }
    }
  }
  #main[data-eq-state="768"], #main[data-eq-state="widescreen"] {
    .region-highlighted {
      .group-title-and-focus {
        span.field-label {
          float: left;
          font-weight: 300;
          padding-right: .5em;
        }
        h2, h3 {
          clear: right;
        }
      }
    }
  }
  #content-bottom {
    .region-content-bottom {
      h2 {
        color: $spotlight-color;
      }
      article {
        .field-name-field-image {
          background: $spotlight-color;
        }
      }
    }
  }
}

//block of tagged experience reports
#main {
  #content {
    article.node-experience-report {
      h2 {
        margin-bottom: 0;
      }
      .field-name-field-year-as-text {
        margin-left: 115px;
        font-family: $font-headers;
        font-weight: 400;
      }
    }
  }
}
