footer {
  padding: 2em 0 1em 15px;
  background: $brand-dark;
  color: $brand-light;
  position: relative;
  z-index: 10;

  a, a:visited {
    color: $brand-light;
    border-bottom: none;
    &:hover {
      color: lighten($brand-light, 10%);
      border-bottom: 1px solid lighten($brand-dark, 10%);
    }
  }

  #translate {
    background: url(../images/flag-sprite.gif) no-repeat;
    @extend .clearfix;
    input {
      width: 18px;
      height: 12px;
      overflow: hidden;
      display: inline-block;
      margin-right: 1px;
      float: left;
    }
  }
}
