#main {
  .form-item {
    select {
      width: 100%;
    }
  }
}

// #page form {
form {
  max-width: $section-max-width;

  fieldset {
    margin-bottom: 1em;
  }

  // Focus for file, radio, and checkbox
  input[type="file"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    @include tab-focus();
  }
  input[type='submit'] {
    @include button;

    &.ajax-processed {
      // @include trailer(.5);
      // color: black;
      // //@include adjust-font-size-to(16px);
      // text-transform: none;
    }
  }

  .form-managed-file .form-file {
    @include leader(.25);
    @include trailer(.5);
    font-size: 16px;
    width: 100%;
  }

  .form-item {
    input[type='text'], textarea {
      border: 1px solid $gray-medium;
      width: 100%;
      padding: 0.5rem 0.5rem;
    }
    & .form-type-checkbox label, & .form-type-radio label {
      font-weight: 300;
    }
    & .description {
      line-height: 1.4;
    }
  }

  .views-exposed-form .views-exposed-widget {
    padding: 0;
  }

  label {
    @include leader(0.5);
    font-size: 14px;
    font-weight: 300;
  }

  select {
    margin-left: 1px; //Fixes border cutoff in chrome
  }

  article:before,
  article:after {
    clear: none;
  }

  .form-type-date-popup div.description {
    display: none;
  }

  .form-type-radios, .form-type-checkboxes {
    @include leader(1);
    @include trailer(1);
  }
}

#content {
  //targets complete forms, not forms with just visit and apply buttons
  //ie: http://www.ilr-website.test/admissions/undergraduate-admissions
  form.entityform {
    padding: 1.5em 3em;
    background: whitesmoke;
    border: 1px solid lighten($warm-grey, 15%);
    .field-widget-markup {
      @include padding-leader(.75);
      @include trailer(.5);
    }

    p {
      strong {
        color: $spotlight-color;
      }
      a.button { //netid login
        @include button;
        display: inline-block;
      }
    }

    h3 {
      //@include adjust-font-size-to(24px, 1);
      font-family: $font;
      color: $spotlight-color;
    }
  }
}

.block-entityform-block {
  clear: both;
}

.entity-entityform {
  .submitted {
    display: none;
  }
  .field-label {
    @include leader(1);
    margin-bottom: 0;
  }
}

// Hides the entityform titles when rendered to pages
#content .block-entityform-block > h2,
#content .entity-entityform-type > h2 {
  @extend .hidden;
}

// Hide the placeholder for new books select menu
#cul-new-books-select-form-placeholder {
  display: none;
}

.chosen-container ul li{
  background: none;
}

.entityform td.field-multiple-drag {
  display: none;
}

.filter-wrapper.form-wrapper {
  .filter-help p {
    display: none;
  }
}

.no-layout .entityform {
  padding: 0 3em;
}

#main[data-eq-state="320"] {
  #content {
    form.entityform {
      padding: 1.5em 0;
      background: none;
      border: none;
      fieldset {
        border: none;
        padding: 0
      }
    }
  }
}

#sidebar-first form,
#ilr-sdc-listings-search-form {
  @include leader(2);

  input,
  label {
    text-transform: capitalize;
  }
}
