fieldset {
  margin-bottom: 1em;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus();
}

// Hides the entityform titles when rendered to pages
#content .block-entityform-block > h2,
#content .entity-entityform-type > h2 {
  @extend .hidden;
}

// Hide the placeholder for new books select menu
#cul-new-books-select-form-placeholder {
  display: none;
}

.chosen-container ul li{
  background: none;
}
