.button--framed {
  // @include framed--button;
  @include non-framed-button;
}

.frame {
  position: relative;
  // @include frame;
}

.body__frame {
  @include transition-duration(.3s);
  position: absolute;
  width: 100%;
  border-top: $frame-width / 2 solid $black;
  top: 0;
  left: 0;
  z-index: 5;

  @include large {
    border-top: $frame-width solid $black;
  }

  &::after {
    content: " ";
    position: absolute;
    background: $black;
    top: 0;
    height: 30px;
    right: 0;
    width: $frame-width / 2;
    z-index: 1;

    @include medium {
      height: 100px;
    }

    @include large {
      width: $frame-width;
    }
  }

  span.side--left {
    @include transition-duration(.3s);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: $frame-width / 2;
    height: 80px;
    background: $black;

    @include medium {
      height: 250px;
    }

    @include large {
      height: 375px;
      width: $frame-width;
    }

    @include xl {
      height: 200px;
    }
  }
}
