%header-small {
  .logo-wrapper {
    a.cornell {
      width: 70px;
      height: 70px;
    }

    img {
      width: 275px;
      @include transition-duration(.3s);
    }
  }
}

header {
  background: white;
  width: 100%;
  position: relative;

  @include medium {
    @include trailer(1);
  }

  .container {
    @include container;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    @include medium {
      padding: $frame-width;
    }
  }

  .logo-wrapper {
    position: relative;
    max-width: 80%;

    a.cornell {
      width: 100px;
      height: 100px;
      display: block;
      position: absolute;
    }
  }

  &[data-eq-state="regular-nav"] {
    @extend %big-logo;
    .jpanel-trigger-container { display: none; }
  }
  &[data-eq-state="regular-nav"] {
    .jpanel-trigger-container {
      @extend .hidden;
    }
  }
  .jpanel-trigger-container {
    @extend %header-btn;
    a {
      @extend %icon-hamburger;
    }
  }

  .buttons {
    order: 3;
  }
}

%big-logo {
  body:not(.subsite) & {
    .logo-wrapper {
      #logo {
        img {
          width: 325px;
          height: auto;
        }
      }
    }
  }
}

%header-btn {
  @include transition-duration(.3s);
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 10;

  [data-eq-state="regular-nav"]:not(.sticky) & {
    body:not(.subsite) & {
      margin-right: 1em;
    }
  }

  @include medium {
    right: 2rem;
  }

  a {
    display: block;
    padding: 10px 13px 5px 13px;
    color: $black;

    [data-menu-position="open"] & {
      color: white;
    }

    &:hover, &:visited, &:active, &:focus {
      text-decoration: none;
    }
  }
  #header-region & {
    margin: 0;
  }
}
