// Fix for page load animations
.preloading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

// The page background extends outside the header width, which is why this is here
// Consider refactoring html to better handle a 100% width header
.page-background {
  @include background-image(linear-gradient(lighten($cornell-red, 3%), $cornell-red));
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-small {
  height: $header-height-small;

  #logo {
    margin: 10px 0 20px 30px;
    float: left;

    img {
      width: 187px;
      height: 60px;
      @include transition-duration(.3s);
    }
  }
}

header {
  width: 100%;
  @extend .center;
  @extend .page-background;
  @extend .header-small;
  @include transition-duration(.3s);

  .sticky & {
    @include box-shadow(0 10px 10px -10px rgba(black, .5));
  }

  &[data-eq-state="regular-nav"] {
    body:not(.sticky) & {
      height: $header-height;

      #logo img {
        width: 375px;
        height: 120px;
      }
    }

    .sticky & {
      @include transition-duration(.3s);
      height: $header-height-small * 1.4;
      background-size: 100% $header-height-small * 1.4;
      #logo {
        margin-bottom: 10px;
      }
    }
  }
}
