// The page background extends outside the header width, which is why this is here
// Consider refactoring html to better handle a 100% width header
.page-background {
  @include background-image(linear-gradient(lighten($cornell-red, 3%), $cornell-red));
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

#bg {
  background-size: 100% $header-height-small;
  height: $header-height-small;
  @extend .page-background;
  @include transition-duration(.3s);
  [data-eq-state="regular-nav"] & {
    &:not(.sticky) {
      background-size: 100% $header-height;
      height: $header-height;
    }
    &.sticky {
      height: $header-height-small * 1.4;
      background-size: 100% $header-height-small * 1.4;
      @include box-shadow(0 10px 10px -10px rgba(black, .5));
    }
  }
}

.header-small {
  height: $header-height-small;

  #logo {
    margin: 10px 0 20px 30px;
    float: left;

    img {
      width: 187px;
      height: 60px;
      @include transition-duration(.3s);
    }
  }
}

header {
  z-index: 10;
  @include transition-duration(.3s);
  max-width: $page-max-width;
  @extend .page-background;
  @extend .header-small;
  @extend .clearfix;

  [data-eq-state="regular-nav"] & {
    &:not(.sticky) {
      height: $header-height;

      #logo img {
        width: 375px;
        height: 120px;
      }
    }
    &.sticky {
      height: $header-height-small * 1.4;
      background-size: 100% $header-height-small * 1.4;
      #logo {
        margin-bottom: 10px;
      }
    }
  }
}
