%header-small {
  .logo-wrapper {
    a.cornell {
      width: 70px;
      height: 70px;
    }

    img {
      width: 275px;
      @include transition-duration(.3s);
    }
  }
}

header {
  @extend %big-logo;
  background: white;
  width: 100%;
  position: relative;
  padding: 0 $space $space;

  @include medium {
    margin-bottom: $space;

    body.front & {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .container {
    @include container;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-top: $frame-width;

    @include medium {
      padding: $frame-width;
      border-bottom: 1px solid $gray-light;
    }
  }

  .logo-wrapper {
    position: relative;
    max-width: 80%;

    a.cornell {
      width: 100px;
      height: 100px;
      display: block;
      position: absolute;
    }
  }

  &[data-eq-state="regular-nav"] {
    @extend %big-logo;
    .jpanel-trigger-container { display: none; }
  }
  &[data-eq-state="regular-nav"] {
    .jpanel-trigger-container {
      @extend .hidden;
    }
  }
  .jpanel-trigger-container {
    @extend %header-btn;
    a {
      @extend %icon-hamburger;
    }
  }

  .buttons {
    order: 3;
     [data-menu-position="open"] & {
      min-width: 5rem;
     }
  }
}

%big-logo {
  body:not(.subsite) & {
    .logo-wrapper {
      #logo {
        img {
          width: 325px;
          height: auto;
        }
      }
    }
  }
}

%header-btn {
  // @include transition-duration(.3s);
  position: absolute;
  top: 1rem;
  right: 0rem;
  z-index: 10;

  [data-menu-position="open"] & {
    position: fixed;
    right: 1rem;
  }

  [data-eq-state="regular-nav"]:not(.sticky) & {
    body:not(.subsite) & {
      margin-right: 1em;
    }
  }

  // @include medium {
  //   right: 2rem;
  // }

  a {
    display: block;
    padding: 10px 13px 5px 13px;
    color: $black;

    [data-menu-position="open"] & {
      color: white;
    }

    &:hover, &:visited, &:active, &:focus {
      text-decoration: none;
    }
  }
  #header-region & {
    margin: 0;
  }
}
