#block-bean-2019-homepage-banner {
  .cu-banner--video {
    overflow: hidden;
  }

  .cu-component--desktop {
    display: none;

    @include medium {
      display: block;
    }

    .cu-video {
      margin-bottom: -10%;
    }
  }

  // The mobile video and program destinations
  .cu-component--mobile {
    @include medium {
      display: none;
    }

    .cu-video {
      margin-bottom: 1rem;
    }
  }

  .video-pause{
    position: absolute;
    right: 0;
    top: 1em;
    z-index: 10001;
  }
}

.front {
  .cu-banner--video {
    @include full-width;
  }
}
