body.front .homepage-news {
  .bean-content-listing-manual {
    @include trailer(2);

    .content {
      @include four-column-grid;

      position: relative;
      margin: 0;

      article {
        @include card;

        &:first-of-type { // Highlighted news item
          @include featured-news-item;
        }
      }
    }
  }

  .homepage-news__link {
    grid-column: 1 / -1;
    text-align: center;

    a {
      @include heading-medium;

      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      color: $black;
    }
  }

  .node-promo .link__cta {
    @include hidden;
  }
}
