body.front .homepage-news {
  max-width: $section-max-width;
  margin: 0 auto;

  .bean-content-listing-manual {
    @include trailer(2);

    .content {
      display: grid;
      grid-gap: var(--cu-vr0);
      grid-template-columns: repeat(4, 1fr);

      :first-child {
        grid-column-end: span 2;
        grid-row-end: span 2;

        h2 {
          font-size: var(--cu-text-xl);
        }
      }

      article {
        .news__title h2 {
          line-height: 1.1;

          a {
            font-weight: 300;
          }
        }
        .news__content {
          padding: 1rem 0;
          background: $white;
        }
      }
    }
  }

  .homepage-news__link {
    grid-column: 1 / -1;
    text-align: center;

    a {
      @include heading-medium;

      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      color: $black;
    }
  }

  .node-promo .link__cta {
    @include hidden;
  }
}
