body.ilr-review {
  #header-region {
    background-color: #163a6e;
    a {
      color: white;
    }
  }

  header[data-eq-state="regular-nav"] {
    #header-region {
      background: #163a6e url("../images/bg-globe-blue.gif") no-repeat left top;
    }
  }
}
