body.ilr-press {
  article.ilr-press__book {
    @include thumb;

    h2 {
      @include trailer(1);

      grid-row: 1;
    }

    .ilr-press__cover {
      grid-column: 1;
      grid-row: 1 / -1;

      a {
        display: block;
        text-align: center;
      }
    }

    .ilr-press__description {
      grid-column: 2;
      font-size: 0.9rem;
      line-height: 1.1;
    }
  }
}
