.block-views-instagram-posts-block {
  max-width: $section-max-width;
  margin: 0 auto;


  .cu-card--hover-overlay .cu-card__content {
    padding: 0 var(--cu-vr0);

    p {
      font-size: var(--cu-ms-2);
    }
  }
}
