body.mobilizing-against-inequality {
  #sidebar-second {
    background: white;
  }

  &.subsite-front {
    .field-name-field-para-main-page-content {
      position: relative;
      .rss-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &.not-front {
    #main[data-eq-state="widescreen"], #main[data-eq-state="768"] {
      #sidebar-second {
        background: none;
      }
    }
  }

  .container {
    #main {
      &[data-eq-state="768"],
      &[data-eq-state="widescreen"] {
        #content {
          .block:not(.block-system) > article {
            @extend %one-column;
          }
        }
      }
      #content {
        .tagged-content {
          &[data-items='3'] {
            article {
              @include thumb;
            }
          }
        }
      }
    }

    &[data-eq-state="mobile-nav"] .field-name-field-para-main-page-content {
      @include padding-leader(1.5); // space for the rss feed
      .rss-icon {
        top: 5px;
      }
    }
  }
}
