body.not-front {
  #mc_embed_signup {
    h2 {
      @include leader(0);
      font-size: $h3-size;
    }
  }
  #main[data-eq-state="768"] {
    #mc_embed_signup {
      max-width: $section-max-width;
    }
  }
  #main[data-eq-state="widescreen"] {
    #mc_embed_signup {
      border: 1px solid $gray-light;
    }
  }
  .container[data-eq-state="mobile-nav"] {
    #main[data-eq-state="768"] {
      #mc_embed_signup {
        max-width: 100%;
      }
    }
  }
  .entity-entityform .field-type-mailchimp-lists-subscription {
    @extend .hidden;
  }
  .field-type-mailchimp-lists-subscription {
    fieldset {
      border: none;
      padding: 0;
    }
    .mailchimp-newsletter-wrapper, .form-disabled, legend {
      @extend .hidden;
    }

  }
}

#mc_embed_signup {
  @extend %public-node-add-form;
  padding-right: .5em;
  margin: 0;
  max-width: 100%;
  margin-right: .5em;
  background: white;
  input[type='email'] {
    border: 1px solid $gray-medium;
    border-radius: 6px;
    width: 100%; // So fields won't overlap in 2 columns
  }
  h2 {
    @include adjust-leading-to(1);

    font-family: $font;
    font-size: ms(2);
  }

  p {
    @include adjust-font-size-to(12px, .6);
  }

  form {
    p {
      @include adjust-font-size-to(16px, .8);
    }
  }

  //styles originally from mailchimp
  .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
  .asterisk {color:#e85c41; font-size:150%; font-weight:normal; position:relative; top:5px;}
  .clear {clear:both;}

  div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%; margin: 0 5%; clear: both;}
  div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
  #mce-error-response {display:none;}
  #mce-success-response {color:#529214; display:none;}
  label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

  // #mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
  #mc-embedded-subscribe {
    @include button($bg-color: $white);
    @include rhythm(1);
  }
  #num-subscribers {font-size:1.1em;}
  #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

  #mc-embedded-subscribe-form div.mce_inline_error {display:inline-block; margin:2px 0 1em 0; padding:5px 10px; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:14px; font-weight:normal; z-index:1; color:#e85c41;}
  #mc-embedded-subscribe-form input.mce_inline_error {border:2px solid #e85c41;}
}

#main[data-eq-state="768"], #main[data-eq-state="550"] {
  #mc_embed_signup {
    h2 {
      font-size: ms(2);
    }
  }
}
