body.mobilizing-against-inequality {
  .container {
    @extend %one-column-page;

    .field-name-body {
      max-width: $section-max-width + 400;
      position: relative;
      .rss-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      p {
        margin: 0 auto !important;
      }
    }
    &[data-eq-state="mobile-nav"] .field-name-body {
      padding-top: 2em; // space for the rss feed
      .rss-icon {
        top: 5px;
      }
    }
  }
}
