body.mobilizing-against-inequality {

  &.subsite-front {
    .field-name-body {
      position: relative;
      .rss-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .container {
    #main {
      &[data-eq-state="768"],
      &[data-eq-state="widescreen"] {
        #content {
          .block:not(.block-system) > article {
            @extend %one-column;
          }
        }
      }
      #content {
        .tagged-content {
          &[data-items='3'] {
            article {
              @extend %thumb;
            }
          }
        }
      }
    }

    &[data-eq-state="mobile-nav"] .field-name-body {
      padding-top: 2em; // space for the rss feed
      .rss-icon {
        top: 5px;
      }
    }
  }
}
