///////////////
// Main Menu //
///////////////

.menu-block-ilr-primary-menu {
  @include container;
  @include hidden;

  [data-eq-state="regular-nav"] & {
    @include visible;
  }

  body:not(.subsite) & {
    ul.menu {
      @include inline-block-list;

      list-style: none;
      padding: 0;
      margin: 0;
      max-width: 1160px;

      > li {
        background: none;
        list-style: none;
        line-height: 1;
        margin: 0;
        padding: 0;

        > a, > a:visited {
          flex-grow: 1;
          display: flex;
          color: #222;
          font-family: $font;
          border-bottom: none;
          text-align: left;
          font-weight: 600;
          font-size: 19px;
          outline: 0;
          padding: 1.2em 2.5rem 1.2em 0;
          display: block;
          width: 100%;

          .sticky & {
            padding-top: .75em;
            padding-bottom: .75em;
          }

          &:hover {
            color: $cornell-red;
          }
        }

        &.active > a, &.active > a:visited {
          color: $cornell-red;
        }
      }
    }
  }

  .subsite & { // see _subsite_header.scss
    @extend %sub-site-menu;
  }
}

///////////////
// Mega Menu //
///////////////

.block-ilr-mega-menu {
  @include hidden; // What will IE do with this?
  [data-eq-state="regular-nav"] & {
    @include visible;
  }

  li div.submenu {
    // @include padding-leader(1);
    background: rgba(255, 255 ,255, 0.9);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
    height: 0;
    opacity: 0;

    .bean-mega-menu {
      @include full-width;

      background: $lighter-red;

      .content {
        @include container;

        padding: $space $space $double-space;
      }
    }


    @include breakpoint(1065px) {
      padding: 25px;
    }

    &.active {
      display: block;
      height: 100vh;
    }

    &:first-child {
      opacity: 1;
      display: block;
    }

    h2 {
      &.bean-title {
        @include adjust-font-size-to(22px);

        color: $white;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .field-name-field-referenced-entity {
      @include three-column;

      article h2 {
        @include adjust-font-size-to(17px);

        font-weight: normal;
        margin: 0;

        a {
          color: $white;
          border-bottom: none;
        }
      }
    }
  }
}
