.view-mentors {
  @include add-grid(12);

  .views-row {
    // @extend %bean-base; // Leaving off as of 05/2018
    @include float-span(6);

    &:nth-of-type(even) {
      @include float-span(6, 'last');
    }
    @include trailer(3);

    // article {
    //   // causes bug on compare 3! :(
    //   // @todo - debug
    //   @include add-grid(4);

      h2,
      .field-type-text-long {
        // @include grid-span(3,2);

        margin: 0 0 0 115px !important;
        // margin-left: 115px;
        // width: 100% !important;
      }

    //   .field-type-text-long {
    //     display: block !important;
    //     // margin-left: 115px;
    //     // clear: left;
    //   }
    // }


    .field-type-image {
      @include circularImage;
      position: absolute;
      top: 0;
      left: 0;

      img {
        top: 0;
      }
    }
  }
}

.node-type-mentor {
  .field-type-text-long {
    @include trailer(2);
  }
}
