.microsite {
  .block > h2 {
    @include hidden;
  }

  .content h2 {
    @include set-heading(true);
    @include adjust-font-size-to(2rem);

    @include large {
      @include adjust-font-size-to(3rem);
    }
  }

  #content-bottom .block-bean {
    margin-top: 0 !important;
    margin-bottom: .25em !important;
  }
}

.microsite-marquee {

  &__image {
    @include full-width;

    p {
      max-width: 100%;
    }

    &--sls2018 {
      max-height: 740px;
    }
  }

  &__button {
    color: #ffffff !important;
    border-color: #ffffff;
  }

  &__content {
    position: relative;
    background-color: #002A48;
    padding: $space;
    margin-top: -20%;

    @include xl {
      padding: 100px;
    }

    h1 {
      color: $white;
      line-height: 1;
      font-size: 1.5rem;

      @include large {
        font-size: 48px;
        max-width: 40%;
      }
    }

    .video-callout .video-callout__introduction {
      @include small-text(0.9);

      padding: 0 $space 0 0;

      @include large {
        @include adjust-font-size-to(26px, 1.5);

        padding-right: $triple-space;
      }
    }

    &--sls2018 {
      margin-top: 0;
    }
  }
}

.microsite-featured-speakers {
  @include container;

  background: $black;

  h2 {
    color: $white !important;
  }

  .featured-speaker {
    @include card--person($cornell-red);

    cursor: pointer;

    p {
      line-height: 0.5;
      margin: 0;

      img {
        width: 100%;
      }
    }
  }

  #block-bean-sls-featured-speakers & {
    margin-top: -60px;
  }
}

.microsite-moderators {
  article {
    @include card--person($dark-gray-orange);

    cursor: pointer;

    p {
      margin: 0;
    }
  }
}

.microsite-individual-speaker {
  article.featured-speaker {
    margin: 0 auto;
    width: 100%;

    p img {
      width: 100%;
    }
  }
}

.microsite-speakers {
  @include full-width;
  @include rhythm-padding(1);

  background-color: $warm-grey;

  &__container {
    @include container;
    @include four-column-grid;
  }

  article.speaker {
    @include card--person;

    cursor: pointer;

    h3 {
      padding-top: 1rem;
    }
  }
}

.microsite-sponsors {
  padding-left: 34px;
  padding-right: 34px;
  text-align: center;

  p {
    @include adjust-font-size-to(23px);

    max-width: 500px;
    margin: 0 auto;
  }

  ul {
    @include bulleted-list($undo: true);

    margin-top: 55px;

    li {
      display: inline;
      padding-left: 0;
      img {
        width: 150px;
        height: 150px;
      }
    }
    li.square {
      display: block;
      @include trailer(1);
      img {
        width: 175px;
        height: 120px;
      }
    }
    li.rect {
      display: block;
      @include trailer(1);
      img {
        width: 250px;
        height: 98px;
      }
    }
  }
}

.microsite-schedule {
  text-align: center;

  p {
    max-width: 100%;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 27px;
  }

  ul {
    @include bulleted-list($undo: true);
  }

  li {
    color: $orange;

    @include medium {
      display: inline;
    }
  }

  &--sls2018 {
    text-align: left;
    padding-top: 2em;

    li {
      @include medium {
        display: list-item;
      }
    }
  }

  p.espn {
    position: relative;
  }

  span.espn--logo {
    &::after {
      content: '';
      background: url(../images/logos/espn-wordmark.svg);
      width: 80px;
      height: 19px;
      background-size: 80px 19px;
      position: absolute;
      right: -10px;

      @include medium {
        right: 0;
        top: -10px;
        width: 160px;
        height: 38px;
        background-size: 160px 38px;
      }
    }
  }
}

.microsite-venue {
  background-color: $cornell-red;

  @include medium {
    @include two-column-grid($gap: 0);
  }

  h2 {
    padding: $space $space 0 $double-space;
    text-align: left !important;
    color: white !important;

    @include medium {
      padding-bottom: $space;
      padding-left: $quadruple-space;
    }
  }

  .venue {
    background-color: $color-venue-bg;

    @include medium {
      grid-column: 1;
      grid-row: 2;

      .address {
        @include center($horizontally: false, $vertically: true);
      }
    }

    .address {
      padding: $space $space $space $double-space;

      @include medium {
        padding-left: $quadruple-space;
      }

      * {
        color: white;
        border-color: transparent;
      }
    }
  }

  .map {
    line-height: 0.5;

    @include medium {
      grid-column: 2;
      grid-row: 2;
    }
  }
}

.microsite-sell {
  text-align: center;
  padding-top: 1em;

  h3 {
    color: white;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: .25em;

    @include medium {
      font-size: 2rem;
    }

    @include large {
      font-size:  2.5rem;
    }
  }

  p {
    color: white;
    margin: 0 auto;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1;

    @include large {
      font-size: 1.3em;
    }

    a.button--sell {
      color: white;
      padding: .5rem 1rem;
      border: 7px solid #ffffff;
      line-height: 4;
      font-weight: 400;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  p.sponsor {
    position: relative;
  }

  span.espn {
    $width: 100px;
    $height: 56px;
    visibility: hidden;
    position: relative;
    display: inline-block;
    width: $width / 2;
    height: $height / 2;

    @include medium {
      width: $width;
      height: $height;
    }

    &::after {
      content: '';
      visibility: visible;
      background: url(../images/logos/espn-logo.png) no-repeat;
      width: $width / 2;
      height: $height / 2;
      background-size: $width / 2 $height / 2;
      position: absolute;
      top: 0;
      left: 0;

      @include medium {
        width: $width;
        height: $height;
        background-size: $width $height;
        top: -15px;
      }
    }
  }
}
