.node-type-microfiche, .node-type-microfilm {
  .field-label, .field-label-inline {
    padding: .5em .5em .5em;
    display: block;
    float: left;
  }

  .field-label {
    font-weight: bold;
    clear: left;
  }
}
