// Todo: Clean up this file

nav { // All nav menus
  h2 { @extend .hidden; }
}

.jpanel-trigger-container {
  [data-eq-state="regular-nav"] & {
    @extend .hidden;
  }
  float: right;
  clear: right;
  margin-right: 1em;

  a {
    @extend .button;
    @extend .button-rounded;
    padding: 0 .7em;
    font-size: .8em;
    height: 25px;
    line-height: 25px;
    color: $brand;

    &:hover, &:visited, &:active, &:focus {
      text-decoration: none;
    }
  }
}

.sidebar ul.menu {
  @extend .hidden;

  [data-eq-state="regular-nav"] & {
    @extend .visible;
  }
}

nav.main { // Main nav
  clear: left;
  float: left;
  width: 100%;
  @extend .hidden;

  [data-eq-state="regular-nav"] & {
    @extend .visible;
  }

  ul#main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;

    li {
      background: none;
      line-height: 1;
      margin: 0;
      padding: 0;

      a, a:visited, a:hover {
        flex-grow: 1;
        display: flex;
        color: white;
        font-family: $font-headers;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

@include breakpoint(1065px) {
  nav.main ul {
    padding-left: 50px; //move this
    li {
      padding-right: 30px;
      &:last-child {
        padding: 0;
      }
      a {
        font-size: 18px;
      }
    }
  }
}

.jPanelMenu-panel {
  @include box-shadow(0 10px 10px -5px rgba(black, .5));
}

#jPanelMenu-menu {
  margin-top: $header-height-small;
}

.sidebar, #jPanelMenu-menu {
  overflow: hidden;
  position: relative;
}

.main-nav ul.menu {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  background: white;
  min-height: 500px;

  li {
    list-style: none;
    background-image: none;
    margin: 0;
    padding: 0 1em;
    font-family: freight-sans-pro;
    a {
      color: $gray-dark;
      display: block;
      padding: 1em 0;
      &:hover {
        color: $brand;
        text-decoration: none;
      }
    }
    a.active {
      color: $cornell-red;
      font-weight: 600;
    }
  }

  li.expanded {
    position: relative;
    padding: 0 60px 0 1em;
  }

  a.next-menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    z-index: 1;
    //background: rgba(black, .1); // uncomment this to see the target area

    span {
      padding: 0;
      border-width: 1px;
      line-height: 17px;
      font-size: 2em;
      text-shadow: 0 1px 1px rgba(white, 1);
      color: darken($gray-light, 10%);
      @extend .button;
      @extend .button-circle;

      #jPanelMenu-menu & {

      }
    }

    #sidebar-first & {
      opacity: 0;
    }
    #jPanelMenu-menu & {
      padding: .8em 1em 1.1em 1em;
    }
  }

  li.back {
    background: rgba(black,.1);
    a.prev-menu {
      padding: .5em 0;
    }
  }

  li ul.menu {
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 2;
    visibility: hidden;
    border-left: 1px solid $gray-light;

    #jPanelMenu-menu & {
      @include box-shadow(rgba(black, .3) 1px 1px 5px);
    }
  }

  & > li {
    border-top: 1px solid #e7e5db;
  }
}
