nav { // All nav menus
  h2 { @extend .hidden; }
}

.jpanel-trigger-container {
  [data-eq-state="regular-nav"] & {
    @extend .hidden;
  }
}

nav.main, .sidebar ul.menu {  //, #block-menu-block-ilr-subnav
  @extend .hidden;

  [data-eq-state="regular-nav"] & {
    @extend .visible;
  }
}

#block-menu-block-ilr-subnav h2 {
  @extend .hidden;
}

nav.main { // Main nav
  float: left;
  padding-top: 15px;
  // display: none; //for mobile
  ul {
    li {
      background: none;
      line-height: 1;
      margin: 0;
      padding: 0;
      float: left;
      a, a:visited, a:hover {
        color: white;
        font-family: $font-headers;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

@include breakpoint(769px) {
  nav.main {
    display: inherit;
    padding-top: 60px;
    ul {
      li {
        padding: 0 20px 0 0;
      }
    }
  }
}

@include breakpoint(1065px) {
  nav.main ul li {
    padding-right: 30px;
    &:last-child {
      padding: 0;
    }
    a {
      font-size: 18px;
    }
  }
}

.sidebar ul.menu {
  margin: 0;
  padding: 0 ms(0);
  li {
    list-style: none;
    background-image: none;
    font-family: freight-sans-pro;
    a {
      color: $gray-dark;
      display: block;
      padding: 1em 0;
      &:hover {
        color: $brand;
      }
    }
    a.active {
      color: $cornell-red;
      font-weight: 600;
    }
  }

  & > li {
    border-top: 1px solid #e7e5db;
    @extend .hidden;

    &.active-trail {
      @extend .visible;

      li {
        @extend .visible;

        li {
          @extend .hidden;
        }

        &.expanded.active-trail, &.expanded.active-trail > li, &.expanded.active-trail > ul > li {
          @extend .visible;
        }
      }
    }
  }
}
