//blocks in paragraph bundles need higher specificity to override defaults
#main {
  #content {
    .paragraphs-item-display-a-block {
      .event-block, .tagged-content {
        @include padding-leader(1);
        @include padding-trailer(1);
        @include grid-span (10,2);
      }
      article {
        margin-bottom: 1em;
      }
      .field-name-field-more-link {
        text-align: center;
      }
    }
  }
}

#main[data-eq-state="550"] {
  #content {
    .entity-paragraphs-item {
      &.paragraphs-item-display-a-block {
        .event-block {
          @include padding-leader(2);
          @include padding-trailer(1.5);
        }
        article.node-reflection {
          @extend %one-column;
        }
      }
    }
  }
}

#main[data-eq-state="768"] {
  #content {
    .field-name-field-image {
      text-align: left;
    }
    .entity-paragraphs-item {
      &.paragraphs-item-display-a-block {
        .event-block {
          @include padding-leader(2);
          @include padding-trailer(2);
        }
      }
    }
  }
}

#main[data-eq-state="widescreen"] {
  #content {
    .field-name-field-image {
      text-align: left;
    }
    .entity-paragraphs-item {
      &.paragraphs-item-display-a-block {
        .event-block {
          @include padding-leader(3);
          @include padding-trailer(2.5);
        }
        article.localist-event, article.node-promo {
          @extend %three-column-masonry;
        }
        article.node-promo {
          @include trailer(1.25);
        }
      }
    }
  }
}
