#main {
  .paragraphs-item-unit-contact-info {
    .content {
      @include two-column-grid($breakpoint: $medium);

      padding: 0 $space;

      @include large {
        padding: 0 $double-space;
      }

      .field-name-field-people-list {
        @include two-column-grid;

        h3 {
          margin: 0;
        }

        a {
          color: $black;
          border: none;
        }

        h4 {
          @include paragraph-text;

          margin-bottom: 0;
        }
      }

      ul {
        &:not(.social) {
          padding-left: 0;
          li {
            padding-left: 0;
            background: none;
          }
        }
      }

      .group_unit_information {
        @include large {
          @include two-column-grid;
        }

        .group_unit_name_and_address {
          grid-column: 1;
          grid-row: 1;
        }

        h2 {
          @include adjust-font-size-to(22px);
          font-family: $font;
          line-height: 1;
          margin-bottom: .25em;
        }

        ul.social {
          @include margin-trailer(1);

          grid-column: 2;
          grid-row: 2;
        }

        ul.field-name-field-multiple-links {
          grid-column: 2;
          grid-row: 1;
        }

        address {
          font-style: normal;
        }
      }
    }
  }
}
