#main {
  .paragraphs-item-just-image {
    @include padding-leader(0);
    @include padding-trailer(0);
    line-height: 0;
    .content {
      @include grid-span (12);// allows image to be full width
      .field-name-field-image {
        margin: 0;
      }
    }
  }
  .paragraphs-item-just-text {
    @include padding-leader(1);
    @include padding-trailer(1);
    .content {
      @include grid-span (10,2);
      .field-name-field-header {
        display: none;
      }
    }
  }
  body.node-type-visiting-fellow &, body.node-type-experience-report & {
    .paragraphs-item-just-text {
      .content {
        @include grid-span (12);
      }
    }
  }
}

#main[data-eq-state="768"] {
  .paragraphs-item-just-text {
    @include padding-leader(1.5);
    @include padding-trailer(1.5);
  }
}

#main[data-eq-state="widescreen"] {
  .paragraphs-item-just-text {
    @include padding-leader(1.5);
    @include padding-trailer(1.5);
  }
}
