#block-people-profiles-people-landing-page,
#block-people-profiles-faculty-landing-page,
#block-views-people-profile-teasers-block,
body.page-taxonomy-term .view-areas-expertise-taxonomy-term {

  .view-content {
    @include leader(1);
    @include two-column-grid;

    @include breakpoint($full-break) {
      @include three-column-grid;
    }
  }

  article {
    @include thumb;

    grid-template-rows: repeat(3, auto);
    grid-gap: 5%;

    h2 {
      @include set-heading(false);

      grid-row: 1;

      a {
        @include set-heading(false);
      }
    }

    .people-profile__content {
      grid-column: 2;
      grid-row: 2;
    }

    .field {
      //@include adjust-font-size-to(16px);
      line-height: 1.1;

      &.field-type-image {
        grid-column: 1;
        grid-row: 1 / -1;
      }
    }
  }
}
.page-taxonomy-term .feed-icon {
  display: none;
}
