@mixin highlighted-profile {
  @include trailer(2);

  color: white;
  background: $cornell-red;

  @include medium {
    display: grid;
    grid-template-columns: 33% 62%;
    grid-gap: 5%;
  }

  * {
    color: white;
  }

  .field-type-text,
  .field-type-text-long {
    @include adjust-font-size-to(16px);
    margin-left: 1rem;
    line-height: 1.5;

    &::before {
      font-size: 6px;
      content: '\2666';
      margin: 0 0.75rem 0 -0.5rem;
      vertical-align: middle;
    }
  }

  .name--framed {
    @include set-heading(true);
    @include framed;
    @include padding-leader(1);

    font-size: 42px;
    line-height: .9;
    color: white;
    padding-left: 1rem;
    padding-bottom: 1rem;
    max-width: 250px;
  }

  .group-highlighted-content {
    padding: 0 $space $space;
    grid-column-start: 2;
  }

  .field-name-field-image {
    grid-column-start: 1;
    line-height: .5; // fix for bottom padding for image
    margin: 0;
  }
}

.node-type-visiting-fellow .group-highlighted,
.node-type-experience-report .group-highlighted {
  @include highlighted-profile;
}
