// all reflections
article.node-reflection {
  @extend %card-rounded;
  @extend %image-heading-text;
  padding-bottom: 1.5em !important;

  &.quote {
    @extend %quote;
  }
  .field-name-body {
    padding-bottom: .5em;
  }
  ul {
    margin-bottom: 0;
    li.node-readmoremore {
      background: none;
      padding-left: 1em;
    }
  }

}
// @todo:
//  - refactor id out in future (required by current specificity issues)
#block-bean-70th-reflections {
  >h2 {
    display: none;
  }
  article.node-reflection {
    @extend %card-rounded;
    padding-bottom: 1.5em !important; // Override for social share padding

    &.quote {
      @extend %quote;
    }
  }
}

%quote {
  background-color: $gray-bg;
  h2 {
    display: none;
  }
  .field-name-body {
    p {
      @include adjust-font-size-to(25px);
      @include adjust-leading-to(1);
      color: $darker-red;
      font-family: freight-text-pro;
      font-weight: 400;

      &:first-child {
        &:before {
          content: '" ';
        }
      }
      &:last-child {
        &:after {
          content: ' "';
        }
      }
    }
  }
}

.block-ilr-reflection {
  @include margin-leader(1);
  @include padding-trailer(1);
  h2 {
    @extend %centered-title;
  }
  .node-reflection-form {
    @extend %public-node-add-form;
  }
}
