.registration-block {
  @include two-column-grid($gap: 100px);
  @include padded($padding: 2em 0 4em 0);

  &__dates {
    @include adjust-font-size-to(29px, 1);
    @include padding-trailer(.5);
    @include trailer(.5);
    font-family: $font;
    color: $cornell-red;
    border-bottom: 1px solid $gray-light;
  }

  &__cost {
    @include adjust-font-size-to(24px, 1.2);
    font-family: $font;
    font-weight: 400;
    margin-top: 0;
  }

  &__message {
    @include medium {
      grid-column: 1;
      grid-row: 1;
      padding: 0 50px;
    }

    @include large {
      @include leader(1);
      padding: 0 100px;
    }
  }

  &__info {
    @include medium {
      grid-column: 2;
      grid-row: 1;
    }

    .registration-block__detail {
      @include adjust-font-size-to(16px, 1);
      font-weight: 600;
      margin-bottom: 0;

      span {
        display: block;
        font-weight: normal;

        @include large {
          float: right;
        }
      }

      &--bordered {
        @include padding-trailer(.5);
        @include trailer(.5);
        border-bottom: 1px solid $gray-light;
      }

      @include large {
        @include adjust-leading-to(1.3);
        max-width: 377px;
      }
    }
  }

  .button {
    @include button;
    display: inline-block;
    margin-right: 3em;
    @include leader(1);
    @include button-color($cornell-red, $darker-red);

    &:last-child {
      margin-right: 0;
    }
  }
}
