header.search-engaged, #bg.search-engaged {
  margin-top: $search-height;
}
#bg .search-bg {
  background-color: $darker-red;
  height: $search-height;
  position: absolute;
  top: $search-height * -1;
  left: 0;
  width: 100%;
}

#search-button {
  float: right;
  padding: 15px 2% 0 0;

  img {
    width: 60%;
    @include transition-duration(.3s);

    [data-eq-state="regular-nav"] & {
      margin: 20px 20px 0 0;
    }
    .sticky & {
      margin: 0;
    }
  }
}

#search-form {
  position: absolute;
  top: $search-height * -1;
  left: 0;
  width: 100%;

  input {
    background: $darker-red;
    border: none;
    width: 100%;
    padding: 5px;
    padding-left: 5%;
    height: $search-height;
    color: white;
    font-size: ms(2); // refactor to typography or forms
  }
}
