.search-button {
  position: relative;
  [data-menu-position="open"] & {
    min-height: 38px;
    min-width: 45px;
    text-align: center;
    top: 1rem;
    position: fixed;
    z-index: 11;
  }
  button {
    // @include transition-duration(.3s);
    border: 0px;
    background: none;
    @extend %icon-search-thin;

    visibility: hidden;
    display: block;
    color: $black;

    [data-menu-position="open"] & {
      color: white;
      visibility: visible;
      position: relative;
      z-index: 10;
      padding: 10px 13px 5px 13px;
    }

    .subsite & {
      color: white;
      background: $black;
    }

    [data-eq-state="regular-nav"] & {
      visibility: visible;
    }

    &:hover, &:visited, &:active, &:focus {
      text-decoration: none;
    }
  }
}

#search-form {
  @include full-width;
  @include transition-duration(.3s);

  height: 0;
  overflow: hidden;
  background: $black;
  z-index: 20;
  position: absolute;
  top: 0;

  .closeSearch {
    @extend %icon-close2;
    // font-size: 16px;
    color: $white;
    border: none;
    background: transparent;
  }

  .search-engaged & {
    height: auto;
  }

  form {
    @include wrapper;
  }

  input {
    @include rhythm(1);
    border: none;
    width: 90%;
    padding: 0 0 0 15px;
    background: $black;
    border-left: 5px solid $cornell-red;

    color: white;
    font-size: ms(2); // refactor to typography or forms

    // Hacks for placholder color
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: white;
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: white;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: white;
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: white;
      opacity: 1;
    }
  }
   .searchBtn {
    @extend %icon-search;
      color: white;
      background: transparent;
      border: none;
      line-height: 1;
      position: relative;
    }
}

.gsc-result .gsc-table-result {
  a.gs-title {
    color: $brand;
    b {
      color: $brand;
    }
  }
  .gs-visibleUrl {
    color: $gray-dark;
  }
}
