body.subsite.sports-leadership-camp {
  header { // Override the sticky header
    position: static;
  }

  #header-region {
    background-color: $darker-red;
    padding-bottom: 0;

    @include large {
      background-color: $orange-light;
    }

    .region-header {
      padding: 0;
    }

    .menu-block-ilr-primary-menu {
      float: left;

      ul.menu {
        margin-top: 34px;
        padding-bottom: 34px;
        overflow: auto;
      }

      a {
        color: white;
      }
    }
  }

  #page #main {
    margin-top: 0;
  }
}

.slc-banner {
  @include full-width;
  position: relative;

  .slc-banner__content {
    @include add-grid(12);
    position: relative;
    z-index: 10;

    .slc-banner__heading {
      @include leader(1);
      @include grid-span (10,2);
    }

    .slc-banner__brand {
      @include adjust-font-size-to(35px);
      @include adjust-leading-to(.75);
      margin: 0;
      color: white;
      font-family: $font;

      a,
      a:visited
      a:hover {
        font-family: $font;
        color: white;
      }

      span {
        font-weight: 600;
      }

      @include xl {
        @include adjust-font-size-to(55px);
      }
    }

    .slc-banner__logos {
      background: $darker-red;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      clear: left;

      @include medium {
        @include grid-span (10, 2);
        background: none;
        text-align: left;
        margin-top: 1em;
      }

      @include large {
        @include grid-span (5,2);
        margin-top: 0;
      }


      ul {
        margin: 0;
        padding: 0;
      }

      li {
        background: none;
        display: inline;
        padding-left: 0;
        padding-right: 13px;
      }

      img {
        width: 50px;
      }
    }

    .slc-banner__dates {
      @include adjust-font-size-to(24px);
      @include adjust-leading-to(1);
      @include grid-span (10,2);
      clear: left;
      color: white;

      @include large {
        @include grid-span (3,9);
        text-align: center;
        clear: left;
        margin-top: -3em;
      }

      @include xl {
        @include adjust-font-size-to(27px);
        // margin-top: -2em;
      }
    }

    .slc-banner__link {
      @include grid-span (12);
      background: $orange;
      clear: left;
      text-align: center;
      padding: 1em 0;


      @include medium {
        text-align: right;
        padding-right: 1em;
      }

      @include large {
        @include grid-span (3,9);
        background: none;
        text-align: center;
        margin-top: -2em;
      }

      .button {
        @extend %button;
        background-color: $orange-light;
        box-shadow: 1px 2px 4px #4a4a4a;
        display: inline-block;
      }
    }
  }

  .slc-banner__media {
    position: absolute;
    top: 0;

    @include large {
      position: relative;
    }
  }

  .slc-banner__overlay {
    @include overlay(black, .4);
  }

  .slc-banner__images {
    @include inline-block-list-container;
    width: 100%;

    @include large {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .slc-banner__image {
    @include inline-block-list-item;
    line-height: 1;
    padding: 0;
    width: 100%;

    @include small {
      width: 50%;
      float: left;
    }

    @include large {
      width: 100%;
      flex-grow: 1;
    }

    img {
      width: 100%;
    }
  }
}
