.social-callout {
  padding: 21px;
  text-align: center;

  .social-callout__heading {
    @include centered-title;
    @include adjust-leading-to(1.5);
    font-family: $font;
    color: white;
    padding-top: 0;
    margin-bottom: 34px;
    font-size: 28px;

    &::after {
      border-bottom: 2px solid;
      border-bottom-color: rgba(255, 255, 255, 0.15);
      left: 40%;
      width: 20%;
      height: 3px;
    }
  }

  .social-callout__links {
    margin-bottom: 21px;
  }

  .social-callout__item {
    background-color: rgba(255, 255, 255, 0.4);
    @include roundLink(60px);
    font-size: 18px;
    padding-left: 0;
    margin-left: 5px;

    .social-callout__link {
      &.follow-linkedin {
        padding-left: 8px;
      }
    }

    &:nth-of-type(1) {
      margin-left: 0;
    }
  }

  .social-callout__hashtag {
    font-size: 27px;
    line-height: 1.3;
  }

  .social-callout__hashtag-link {
    color: white;
    border: none;
  }

  // Variations
  &--orange {
    $color: darken($orange, 4%);
    background-color: $color;

    .social-callout__link::before {
      color: $color;
    }
  }

  &--green {
    $color: darken($basic-page-color, 5%);
    background-color: $color;

    .social-callout__link::before {
      color: $color;
    }
  }
}

body.node-type-channel-page {
  .social-callout {
    @include full-width;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("../images/bg-social.png");
    padding: 85px 21px;

    .social-callout__heading {
      padding-top: 0;
      margin-bottom: 34px;
      font-size: 28px;

      @include medium {
        @include adjust-leading-to(1.5);
        font-size: 34px;
      }
    }

    .social-callout__item {
      @include medium {
        @include roundLink(60px);
        font-size: 21px;
        margin-left: 8px;
      }

      @include large {
        @include roundLink(89px);
        font-size: 27px;
        margin-left: 21px;
      }
    }
  }
}
