article.social-feed {
  min-height: 0;
  padding: 0 2em;
  text-align: center;

  .field-name-group {
    .field-name-twitter-handle {
      @include trailer(.5);
    }
    .field-name-twitter-handle a, .field-name-time-stamp {
      @include adjust-font-size-to(14px);
      text-transform: uppercase;
      font-weight: 600;
      color: $link;
    }
    .field-name-time-stamp {
      margin-bottom: 1em;
    }
    .field-name-tweet {
      p {
        @include adjust-font-size-to(16px);
        @include adjust-leading-to(1);
        line-height: 1.5;
      }
    }
  }
}

#main[data-eq-state="550"] {
  article.social-feed {
    padding: 0 2em;
  }
}

#main[data-eq-state="768"] {
  article.social-feed {
    padding: 1em 2em;
    min-height: 300px;
    .field-name-group {
      .field-name-time-stamp {
        margin-bottom: 0;
      }
      .field-name-tweet {
        p {
          font-size: ms(0);
          line-height: 1.5;
        }
      }
    }
  }
}

#main[data-eq-state="widescreen"] {
  article.social-feed {
    padding: 1em 2em;
    min-height: 280px;
    .field-name-group {
      .field-name-time-stamp {
        margin-bottom: 0;
      }
      .field-name-tweet {
        p {
          font-size: ms(0);
          line-height: 1.5;
        }
      }
    }
  }
}
