body.subsite {
	&.sports-leadership-camp {
		#header-region {
			background-color: $darker-red;
			padding-bottom: 0;
			@include large {
				background-color: $orange-light;
			}
			@include xl {
				background-color: $orange-light;
			}
			.region-header {
				padding: 0;
			}
		}
		.menu-block-ilr-primary-menu {
			ul.menu {
				margin-top: 34px;
				padding-bottom: 34px;
				overflow: auto;
			}
			a {
				color: white;
			}
		}
	}
}