// Camp related components
.sports-leadership-camp {
  #block-ilr-mega-menu-ilr-mega-menu {
    width: 100%;
  }
}

// 2018 sports leadership summit
body.sports-leadership {
  &.page-node-287301 { // sports-leadership
    background-image: url(../images/grand_hyatt.jpg);

    @include medium {
      background-image: url(../images/banner-grand-hyatt.jpg);
    }
  }

  &.page-node-291526 { // new-world-of-work
    background-image: url(../images/wi-ilo.jpg);

    @include medium {
      background-image: url(../images/ilo-new-world-of-work-header.jpg);
    }

    #content-bottom { background: rgba(0, 0, 0, 0.0); }
  }

  &.page-node-287301, &.page-node-291526 {
    background-repeat: no-repeat;
    background-size: 200% auto;

    @include medium {
      background-size: 150% auto;
    }

    @include xl {
      background-size: 100% auto;
    }

    header {
      background: transparent;
      padding-bottom: 0;

      .logo-wrapper {
        margin: 0;

        #logo {
          margin-bottom: 0;
        }

        img {
          min-width: 180px;
        }
      }

      .cornell-seal__link {
        top: -4rem;
      }
    }

    #page {
      margin: 0;
    }
  }

  header {
    margin: 0;
    background: $cornell-red;

    #block-ilr-mega-menu-ilr-mega-menu,
    .subsite-header {
      @include hidden;
    }
  }

  .jPanelMenu-panel {
    background: transparent;
  }

  &.page-node-279651 {
    header {
      background: $color-video-dark-blue;
    }
  }
}
