.node-type-student-portrait {
  .group-portrait-highlighted {
    @include highlighted-profile;

    h3 {
      //@include adjust-font-size-to(18px);
      color: white;
      font-weight: 400;
      margin: 1.5em 0 0.5em 0;
    }
  }

  .field-name-field-teaser {
    @include trailer(1);
  }
}
