.node-type-student-portrait { // target a parent div for the article instead of the body tag
  // #main {
    .group-portrait-highlighted {
      @include background-image(linear-gradient(lighten($gray-dark, 5%), $gray-dark));
      padding: 1em;
      @include clearfix;
      color: $gray-light;
      @include trailer(2);

      h3 {
        color: $gray-light;
        // font-weight: bold;
        font-weight: 400;
        margin-bottom: .5em;
      }
    }

    .field-label-above {
      margin-bottom: 1em;
      line-height: 1.2em;
      &.field-name-field-portrait-experience {
        margin: 0 0 .5em .5em;
        padding-left: .7em;
        background: url(../images/squareBullet.gif) no-repeat 0 $base-line-height * .4;
      }
    }

    .field-name-field-image {
      float: right !important;
      margin: 0;
      margin-left: 1em;
      img {
        border: 5px solid $gray-light;
      }
      @include context('#main','#main[data-eq-state="320"]') {
        float: none;
        margin: 0;
      }
    }

    .field-name-field-teaser {
      clear: both;
      @include trailer(1);
    }
  // }
}
