.subsite {
  header {
    position: relative;
    top: 0;
  }
  #header-region {
    @include clearfix;
    background: white; // See site-specific bg colors below
    position: relative;
    padding-bottom: .5em;

    @include transition-duration(.3s);

    &.sticky {
      padding: .5em 0 10px 0;
      position: fixed;
      top: 0;
      overflow: visible;

      h2 {
        display: none;
      }

      .menu-block-ilr-primary-menu {
        width: 90%;
        float: left;
        ul.menu {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          margin-left: 15px;

          li {
            display: flex;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .region-header {
      @extend .container;
      padding: 0 1em;
    }
  }
  .subsite-header {
    float: left;
    width: 35%;
    h2 {
      margin-bottom: 0;
      font-weight: 300;
      @include adjust-font-size-to(40px);
      @include rhythm(2,0,2,0,40px);
      @include adjust-leading-to(.75);
    }
    a, a:visited, a:active {
      color: $subsite-heading;
      font-family: $font;
    }
  }
  &.wrapped {
    .subsite-header {
      width: 75%;
      h2 {
        margin-bottom: 17px;
        padding-bottom: 0;
      }
    }
  }
  header[data-eq-state="mobile-nav"] {
    position: fixed;
    #header-region {
      .subsite-header {
        width: 75%;
        h2 {
          @include adjust-font-size-to(22px);
          @include rhythm(.5,0,0,0,22px);
          @include adjust-leading-to(.75);

          &.image {
            overflow: hidden;
            height: 20px;
          }
          img {
            max-width: 200px;
          }
        }
      }
      &.sticky h2 {
        display: block;
        margin: 0;
      }
    }
  }

  &.admin-menu #header-region.sticky {
    top: 29px;
  }
  &.admin-menu header[data-eq-state="mobile-nav"] { top: 29px; }

  &.worker-institute #header-region {
    background-color: #4d4e53;
    .subsite-header {
      width: 390px;
    }
    a, a:visited, a:active {
      color: $gray-light;
      &:hover {
        color: lighten($gray-light, 10%);
        border-bottom-color: lighten(#4d4e53,8%);
      }
    }
  }
}

// Called from _mega_menu.scss
// .subsite .menu-block-ilr-primary-menu:
%sub-site-menu {
  float: right;
  ul.menu {
    margin: .8em 0 0 0;
    padding: 0;
    //@include adjust-font-size-to(14px);
    @include rhythm(2,0,2,0,14px);

    .wrapped & {
      margin: 0;
      padding: .5em 0;
      clear: left;
    }

    .sticky &  {
      margin: 0;
      padding: 0;
    }
  }
  li {
    background: none;
    float: left;
  }
  a {
    color: $gray-dark;
    font-weight: 400;
    border-bottom: none;
    &:hover {
      border-bottom: 1px solid $gray-light;
    }
  }
}

#main {
  body.subsite & {
    @extend %page-with-sticky-subsite-header;
  }
}

%page-with-sticky-subsite-header {
  [data-eq-state="mobile-nav"] & {
    margin-top: 105px;
  }
}
