table.views-table {
  border: none;

  thead tr {
    background: white;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    th {
      border: none;
      background: none;
    }
  }
  tr {
    border: none;
    background: darken($bg-body, 2%);

    td {
      border: none;
      background: none;

      a {
          color: $cornell-red;
          border-bottom: 1px dotted;

          &:hover, &:focus {
            border-bottom: 1px solid transparent;
          }
        }
    }
    &.odd td {
      background: white;
    }
  }
}


table {
  tr {
    td {
      a {
        color: $cornell-red;
        border-bottom: 1px dotted;

        &:hover, &:focus {
          border-bottom: 1px solid transparent;
          color: $color-table-link-focus;

        }
      }
    }
  }
}
