table.views-table {
  border: none;

  thead tr {
    background: white;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    th {
      border: none;
      background: none;
    }
  }
  tr {
    border: none;
    background: darken($bg-body, 2%);

    td {
      border: none;
      background: none;
    }
    &.odd td {
      background: white;
    }
  }
}

$brand-colors: (cornell-red: $cornell-red, darker-red: $darker-red, bg-body: $bg-body, gray-bg: $gray-bg, nav-dark: $nav-dark, ochre-tan: $ochre-tan, ochre-green: $ochre-green, promo-color: $promo-color, event-color: $event-color, spotlight-color: $spotlight-color, student-portrait-color: $student-portrait-color, news-color: $news-color, video-color: $video-color, gray-dark: $gray-dark, gray-medium: $gray-medium, gray-light: $gray-light);

table.colors {
  @each $design-color, $hex-code in $brand-colors {
    .#{$design-color} {
      td {
        background: $hex-code;
        color: white;
        @if $design-color == 'bg-body' {
          color: black;
        }
        @if $design-color == 'gray-dark' {
          color: black;
        }
        @if $design-color == 'gray-medium' {
          color: black;
        }
        @if $design-color == 'gray-light' {
          color: black;
        }
        @if $design-color == 'gray-bg' {
          color: black;
        }
      }
    }
  }
  td {
    border-right: none;
    padding-left: 2em;
    height: 60px;
  }
}
