table.views-table {
  border: none;

  thead tr {
    background: white;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    th {
      border: none;
      background: none;
    }
  }
  tr {
    border: none;
    background: darken($bg-body, 2%);

    td {
      border: none;
      background: none;
    }
    &.odd td {
      background: white;
    }
  }
}

table.colors {
  .cornell-red {
    td {
      background: $cornell-red;
      color: white;
    }
  }
  .darker-red {
    td {
      background: $darker-red;
      color: white;
    }
  }
  .bg-body {
    td {
      background: $bg-body;
      color: black;
    }
  }
  .gray-bg {
    td {
      background: $gray-bg;
      color: black;
    }
  }
  .nav-dark{
    td {
      background: $nav-dark;
      color: white;
    }
  }
  .ochre-tan {
    td {
      background: $ochre-tan;
      color: white;
    }
  }
  .ochre-green {
    td {
      background: $ochre-green;
      color: white;
    }
  }
  .promo-color {
    td {
      background: $promo-color;
      color: white;
    }
  }
  .event-color {
    td {
      background: $event-color;
      color: white;
    }
  }
  .spotlight-color {
    td {
      background: $spotlight-color;
      color: white;
    }
  }
  .student-portrait-color {
    td {
      background: $student-portrait-color;
      color: white;
    }
  }
  .news-color {
    td {
      background: $news-color;
      color: white;
    }
  }
  .video-color {
    td {
      background: $video-color;
      color: white;
    }
  }
  .gray-dark {
    td {
      background: $gray-dark;
      color: black;
    }
  }
  .gray-medium {
    td {
      background: $gray-medium;
      color: black;
    }
  }
  .gray-light {
    td {
      background: $gray-light;
      color: black;
    }
  }

  td {
    border-right: none;
    padding-left: 2em;
    height: 60px;
  }
}
