.cu-grid {
  max-width: $page-max-width;
  margin: 0 auto;
}

.cu-card .cu-button--overlay {
  color: white;
}

.bean-html .cu-card .cu-card__fact {
  font-weight: bold;

  &::before {
    content: '';
  }
}

.cu-card--promo.cu-card--landscape {
  .cu-card__content {
    .cu-card__fact-list {
      display: block;
    }
    .cu-card__fact {
      border-bottom: 2px solid rgba($white, 0.2);
      border-right: none;
      padding: var(--cu-vr0);
    }
  }
}
