.cu-grid {
  max-width: $page-max-width;
  margin: 0 auto;
}

.cu-card .cu-button--overlay {
  color: white;
}

.bean-html .cu-card .cu-card__fact {
  font-weight: bold;

  &::before {
    content: '';
  }
}
