// ==================================================
// Slug Styles
// ==================================================
%slug {
  h2 {
    @include adjust-leading-to(1);
    @include adjust-font-size-to(16px);
    margin-bottom: 0;
    font-weight: 400;
  }
  // Hide everything but the title
  div, ul.links, h3 {
    @extend .hidden;
  }

  a {
    color: $p-text;
    font-family: $font-headers;
    font-weight: bold;

    display: block;
    position: relative;
    background: darken(white, 1%);
    padding: 1em 2.5em 1em 1em;
    border: 1px solid #e0e0e0;
    border-bottom-width: 3px;
    @include trailer(1);

    &:hover {
      text-decoration: none;
      background: white;
    }

    &::after {
      content: '\203A';
      display: block;
      position: absolute;
      right: 5%;
      top: 28%;
      color: $brand;
      font-weight: bold;
      font-family: $font;
      font-size: $base-line-height;
    }
  }
}

// ==================================================
// Thumb Styles
// ==================================================
%thumb {
  position: relative;
  //@extend %image-first;
  min-height: 100px;
  @include trailer(2);

  h2 {
    @include padding-leader(1);
    margin-left: 115px;
  }

  h3 {
    margin-left: 115px;
  }

  .field-type-image,
  .field-name-field-youtube-video,
  .drop-cap {
    @include circularImage;
    position: absolute;
    top: 0;
    left: 0;
  }

  h3.category {
    position: absolute;
    top: 0;
  }

  @include addHighlightColors('.drop-cap span', 'background-color');
  .drop-cap a {
    &:hover {
      text-decoration: none;
    }
    span {
      text-align: center;
      color: white;
      @include single-text-shadow;
      @include adjust-font-size-to(80px);
      font-family: $font-headers;
      font-style: italic;
    }
  }

  .field-type-text-with-summary,
  .field-name-field-description,
  .field-name-field-campaign-intro,
  .field-name-field-campaign-title,
  .field-name-field-teaser {
    @extend .hidden;
  }
}

// ==================================================
// Rolodex Styles
// ==================================================
%rolodex {
  @extend %thumb;

  article {
    .field-type-text-with-summary {
      @extend .visible;
      p {
        font-size: $p-sm-size;
      }
    }
  }
}

// ==================================================
// Card Styles
// ==================================================
%card {
  background: white;
  border: 2px solid #e0e0e0;
  border-bottom-width: 6px;
  @include trailer(1);
  @include padding-trailer(1);
  @include padding-leader(1);

  @extend %image-first;

  h2, h3, h4 {
    text-align: center;
  }

  h2 {
    @include leader(1);
    padding: 0 1em;
  }
  &[data-eq-state="small"] h2 {
    @include adjust-font-size-to(16px);
  }

  h3 {
    @include trailer(1);
  }

  h4 {
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    @include adjust-font-size-to(14px);
  }

  &.node-basic-page,
  &.node-news-item,
  &.node-promo,
  &.node-youtube-video {
    .field-type-image,
    .field-type-youtube {
      @extend %square-to-3x4;
    }
  }

  &.node-student-portrait,
  &.node-spotlight {
    .field-type-image {
      margin: 0 auto;
      @include circularImage;
    }
  }

  .field-type-text-with-summary,
  .field-name-field-description,
  .field-name-field-campaign-intro,
  .field-name-field-campaign-title,
  .field-name-field-teaser {
    @extend .hidden;
  }
}
