// ==================================================
// Slug Styles
// ==================================================
%slug {
  h2 {
    font-size: ms(0);
    @include adjust-leading-to(1);
    @include adjust-font-size-to(18px);
    margin-bottom: 0;
    font-weight: 400;
  }
  // Hide everything but the title
  div, ul.links {
    @extend .hidden;
  }

  a {
    color: $p-text;
    font-family: $font-headers;
    font-weight: bold;

    display: block;
    position: relative;
    background: darken(white, 1%);
    padding: 1em 2.5em 1em 1em;
    border: 1px solid #e0e0e0;
    border-bottom-width: 3px;
    @include trailer(1);

    &:hover {
      text-decoration: none;
      background: white;
    }

    &::after {
      content: '\203A';
      display: block;
      position: absolute;
      right: 5%;
      top: 28%;
      color: $brand;
      font-weight: bold;
      font-family: $font;
      font-size: $base-line-height;
    }
  }
}

// ==================================================
// Thumb Styles
// ==================================================
%thumb {
  h2 {
    font-size: $h2-sm-size;
  }

  .field-type-text-with-summary {
    @extend .hidden;
  }
}

// ==================================================
// Rolodex Styles
// ==================================================
%rolodex {
  @extend %thumb;

  article {
    .field-type-text-with-summary {
      @extend .visible;
      p {
        font-size: $p-sm-size;
      }
    }
  }
}

// ==================================================
// Card Styles
// ==================================================
%card {
}
