.action-callout {
  @include trailer(2);
  @include full-width;

  position: relative;
  min-height: 520px;
  overflow: hidden;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }

  &__overlay {
    @include overlay;
  }

  &__image {
    @include bg-img;
    @include fixed-bg;
  }

  &__content {
    @include center(true, true, true);
    text-align: center;
    width: 80%;

    .action-callout__tagline {
      margin: 0 auto;
      font-family: $font;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      @include adjust-leading-to(.7);

      @include large {
        font-size: 2.2rem;
        max-width: 50%;
      }

      @include xl {
        font-size: 3rem;
        max-width: 40%;
      }
    }
  }

  &__button {
    @include button;
    color: white;

    &:visited, &:hover {
      color: white;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  &--stadium {
    .action-callout__image {
      background-image: url('../images/dodgers.jpg');
    }
  }

  &--hockey {
    .action-callout__image {
      background-image: url('../images/blackhawks.jpg');
    }
  }

  &--climate {
    .action-callout__image {
      background-image: url('../images/turbine.jpg');
    }
  }

  &--watch {
    .action-callout__image {
      background-image: url('../images/lara-skinner.jpg');
    }
  }
}
