#breadcrumb {
  .breadcrumb {
    @include adjust-font-size-to(14px);
    @include trailer(2);
    padding-top: 14px;

    //font-size: ms(-1);
    // text-transform: uppercase;

    span {
      padding: 0;
      color: $link;
    }

    a {
      text-decoration: none;
    }
  }
  // Hide breadcrumbs on mobile version
  #main:not([data-eq-state="768"]) & {
    [data-eq-state="mobile-nav"] & {
      display: none;
    }
  }
  body.front &,
  body.subsite-front & {
    display: none;
  }
}
