.certificate-basics,
#certificate-info-aside .get-started {
  background: $cornell-red;
  color: white;
  width: 100%;
  margin: 0;
  padding: 1rem;
  overflow: auto;

  @include medium {
    padding: 2rem;

    div {
      @include three-column;
    }
  }

  @include xl {
    div {
      @include one-column;
    }
  }

  h2, h3, p {
    color: $white;
  }

  h2 {
    @include hide($medium-only);
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    @include small-text;
  }
}

#certificate-info-aside .contact {
  @include rhythm(2);

  a.button {
    @include button;
  }
}

.block-ilr-certificate-programs {
  .get-updates {
    @include leader(2);
    @include trailer(1); // this evens space before/after

    p {
      @include small-text;
    }

    .button {
      @include button;
    }
  }

  .contact-us {
    @include leading-border;
    @include padding-leader(2);

    p {
      @include small-text;
    }
  }
}
