.certificate-basics,
#certificate-info-aside .get-started {
  background: $cornell-red;
  color: white;
  width: 100%;
  margin: 0;
  padding: 1rem;
  overflow: auto;

  @include medium {
    padding: 2rem;

    div {
      @include three-column;
    }
  }

  @include xl {
    div {
      @include one-column;
    }
  }

  h2, h3, p {
    color: $white;
  }

  h2 {
    @include hide($medium-only);
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    @include small-text;
  }
}

#certificate-info-aside .contact {
  @include rhythm(2);

  a.button {
    @include button;
  }
}

.block-ilr-certificate-programs {
  .get-updates {
    @include rhythm(2);

    p {
      @include small-text;
    }

    .button {
      @include button;
    }
  }

  .contact-us {
    @include leading-border;

    p {
      @include small-text;
    }
  }
}
// }

//   .get-started, .contact {
//     background: white;
//     padding: 0 40px;
//     margin: 0;
//     text-align: center;
//     overflow: auto;
//     p {
//       font-size: 16px;
//       line-height: 1.2;
//     }
//     a {
//       color: $orange;
//       font-size: 16px;
//       line-height: 1.2;
//     }
//     h2 {
//       color: $orange;
//       font-size: 28px;
//       font-weight: 100;
//       margin: 0 0 20px;
//     }
//     h3 {
//       font-family: $font;
//       font-size: 18px;
//       font-weight: 100;
//       line-height: 1.3;
//       padding: 0;
//       margin: 0;
//     }
//     h3 + p {
//       margin-top: 0;
//     }
//     .button {
//       @include button;
//     }
//   }
//   .get-started {
//     padding-top: 30px;
//   }
//   .contact {
//     padding-bottom: 30px;
//     clear: both;
//   }
//   p.price {
//     color: #2099b7;
//     font-size: 36px;
//     font-weight: 400;
//     margin: 0;
//   }
//   .days-time {
//     padding: 0 20px;
//   }
//   p.days-of-instruction, p.time-to-complete {
//     width: 50%;
//     margin: 1em 0;
//     line-height: 1;
//     text-align: left;
//     padding-left: 12px;
//     float: left;
//     em {
//       font-style: normal;
//       font-weight: 400;
//       font-size: 36px;
//       vertical-align: top;
//       padding-right: 6px;
//       margin-top: -4px;
//       display: block;
//       float: left;
//     }
//   }
// }

// .certificate-basics, .get-updates, .contact-us {
//   background: white;
//   padding: 34px;
//   margin: 0;
//   text-align: center;
//   overflow: auto;
//   p {
//     font-size: 17px;
//     line-height: 1.2;
//     margin-bottom: 8px;
//   }
//   p.em-content {
//     font-weight: 300;
//     em {
//       font-style: normal;
//       font-weight: 400;
//       font-size: 28px;
//       display: block;
//     }
//   }
//   a {
//     color: $orange;
//     font-size: 17px;
//     line-height: 1.2;
//   }
//   h2 {
//     color: $student-portrait-color;
//     font-size: 28px;
//     font-weight: 100;
//     margin: 0 0 13px;
//     padding: 0;
//   }
//   h3 {
//     color: $orange;
//     font-size: 21px;
//     font-weight: 100;
//     line-height: 1.3;
//     padding: 0;
//     margin: 0;
//   }
//   h3 + p {
//     margin-top: 0;
//   }
//   .button {
//     @include button;

//     span {
//       display: none;
//     }
//   }
//   hr {
//     border-top: 1px dotted $gray-light;
//     margin: 21px 0;
//   }
// }

// .certificate-basics {
//   border: 1px solid $gray-light;
//   margin: 34px 0;
// }

// .get-updates {
//   background-color: $orange;
//   h2, p {
//     color: white;
//   }
// }

// .contact-us {
//   border-top: 1px solid $gray-light;
//   p {
//     margin-bottom: 0;
//   }
// }

// #main[data-eq-state="550"] {
//   #certificate-info-aside {
//     .get-started, .contact {
//       padding-right: 20px;
//       float: left;
//       text-align: left;
//       min-height: 300px;
//       .button {
//         text-align: center;
//         max-width: 200px;
//         margin-left: 0;
//       }
//     }
//     .get-started {
//       width: 60%;
//       padding-left: 30px;
//       p {
//         font-size: 19px;
//         margin-top: 20px;
//       }
//     }
//     .contact {
//       width: 40%;
//       padding-left: 20px;
//       padding-top: 30px;
//       padding-bottom: 0;
//       clear: none;
//       p {
//         margin-top: .5em;
//       }
//     }
//     p.price {
//       font-size: 36px;
//       vertical-align: top;
//       margin-top: 10px;
//       padding-right: 12px;
//       float: left;
//     }
//     .days-time {
//       padding: 0;
//       float: left;
//     }
//     p.days-of-instruction, p.time-to-complete {
//       font-size: 16px;
//       width: 117px;
//     }
//     p.days-of-instruction {
//       padding-left: 0;
//     }
//     p.time-to-complete {
//       padding-left: 15px;
//     }
//   }
//   .certificate-basics {
//     margin: 34px 0 34px;
//     h2, hr {
//       display: none;
//     }
//     div {
//       width: 33%;
//       padding: 0 2%;
//       float: left;
//       p {
//         font-size: 14px;
//       }
//       p.em-content {
//         em {
//           font-size: 21px;
//         }
//       }
//     }
//   }
// }

// #main[data-eq-state="768"] {
//   #certificate-info-aside {
//     @include leader(1);
//     @include trailer(1);
//     border-bottom: none;
//     .get-started, .contact {
//       border: none;
//       padding-right: 20px;
//       float: left;
//       min-height: 280px;
//     }
//     .get-started {
//       border-bottom: none;
//       width: 60%;
//       padding-left: 20px;
//       text-align: left;
//     }
//     .contact {
//       border-top: none;
//       width: 40%;
//       padding-top: 30px;
//       padding-bottom: 0;
//       clear: none;
//       p {
//         margin-top: .5em;
//       }
//     }
//     p.price {
//       font-size: 36px;
//       vertical-align: top;
//       margin-top: 10px;
//       float: left;
//     }
//     .days-time {
//       float: left;
//     }
//     p.days-of-instruction, p.time-to-complete {
//       font-size: 16px;
//       width: 117px;
//       padding-left: 15px;
//     }
//   }
//   .certificate-basics {
//     margin: 0 0 34px;
//     h2, hr {
//       display: none;
//     }
//     div {
//       width: 33%;
//       padding: 0 2%;
//       float: left;
//       p {
//         font-size: 14px;
//       }
//       p.em-content {
//         em {
//           font-size: 21px;
//         }
//       }
//     }
//   }
//   .get-updates {
//     div {
//       h2 {
//         font-size: 24px;
//         display: inline-block;
//       }
//       h2:after {
//         content: ".";
//       }
//       p {
//         font-family: $font-headers;
//         font-size: 24px;
//         display: inline-block;
//       }
//     }
//   }
//   .contact-us {
//     p {
//       padding-right: 8px;
//       display: inline-block;
//     }
//   }
// }

// #main[data-eq-state="widescreen"] {
//   #certificate-info-aside {
//     max-width: 350px;
//     margin-top: 45px;
//     .get-started, .contact {
//       border: 1px solid $gray-light;
//       padding-right: 20px;
//       padding-left: 20px;
//     }
//     .get-started {
//       border-bottom: none;
//     }
//     .contact {
//       border-top: none;
//     }
//     .days-time {
//       padding: 0;
//     }
//   }
//   .certificate-basics, .get-updates, .contact-us {
//     border: 1px solid $gray-light;
//     .button {
//       background: $orange;
//       box-shadow: 1px 2px 4px $gray-medium;
//       &:hover {
//         background-color: $student-portrait-color;;
//       }
//     }
//   }
//   .certificate-basics {
//     margin: 0 0 34px;
//   }
//   .certificate-basics, .get-updates {
//     margin-bottom: 8px;
//   }
//   .get-updates {
//     background-color: white;
//     h2 {
//       color: $student-portrait-color;
//     }
//     p {
//       color: inherit;
//     }
//   }
// }
