// Teasers
#block-bean-certificate-programs-list {
  display: block !important; // no grid here

  .node-certificate-programs {
    display: flex;
    flex-direction: column;

    @include medium {
      display: grid;
      grid-template-rows: repeat(5, auto);
    }

    .field-name-field-image {
      order: 1;
    }

    h2 {
      @include padding-leader(0.5);
      @include padding-trailer(1);
      @include set-heading(false);

      order: 2;
      grid-row: 1;
    }

    .field-name-field-teaser {
      @include visible;

      order: 3; // flex
      grid-column: 2; // grid

      p {
        @include small-text;
      }
    }

    .partner-credit {
      @include adjust-font-size-to(0.8rem, 0.9);

      text-align: right;
      order: 4;
      grid-column: 2;
      grid-row: -1;

      span {
        position:absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
      }
      img {
        vertical-align: middle;
        width: auto;
      }
    }

    h3.category {
      @include hidden;
    }
  }
}

// Full version
body.node-type-certificate-programs {
  .field-name-field-value-propositions {
    @include small-text;
    // Note mixin below still needs work
    @include frame-from-corner($width: 5px, $length: 5%, $color: $black);
  }

  @include large {
    #content {
      @include add-grid(12);
    }
    .field-name-field-image {
      @include grid-span(4);

      margin: 0;
    }

    .field-name-field-value-propositions {
      @include grid-span(8, 5);

      padding: 1rem;

      li {
        @include trailer(1);
      }
    }

    .field-name-field-description-long {
      @include padding-leader(1);
      clear: both;
    }
  }

  .group-curriculum {
    @include two-column-grid;

    width: 100%;


    h3 {
      grid-column: 1 / -1;
    }

    .field-name-field-course {
      background: $color-course-class-bg;
    }

    article {
      padding: $double-space;

      h2 {
        @include adjust-font-size-to(1rem, 1);
      }

      p {
        @include small-text;
      }

      a.course-details {
        @include set-link;

        font-size: 0.9rem;
      }
    }
  }
}
