#block-bean-research-featured {
  article {
    @include featured-news-item($dark-blue);
  }
}

#main #content #block-bean-research-destinations.tagged-content {
  @include one-column;

  max-width: $large;
  margin: 0 auto;
  float: none;

  article {
    @include tagged-content--destination;
  }
}

#block-bean-professional-programs-locations .block-bean {
  article {
    @include highlighted-box;
  }
}
