#content-bottom {
  padding: 0;

  .section {
    @extend .center;
    max-width: $page-max-width;
  }

  .content-listing-manual {
    max-width: $page-max-width * .66;
    @extend .center;

    h2 {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      @include adjust-font-size-to(16px);
    }
    .field-name-field-content {
      @include three-column;
      background: url(../images/squareBullet.gif) no-repeat 0 $base-line-height * .5;

      @include context('#content-bottom','#content-bottom[data-eq-state="320"]') {
        @include one-column;
      }

      a {
        padding-left: 1em;
        color: white;
        border: none;
        &:hover {
          border-bottom: 1px solid $gray-medium;
        }
      }
    }
  }
}
