body #main #content #block-ilr-admin-branded-email-signature {
  background: white;
  padding: 1rem;
  line-height: 1.2;
  font-family: arial;
  font-size: 12pt;
  color: #222;

  &:hover {
    background: white;
  }

  h2 {
    font-size: $h2-size;
  }

  a {
    color: #0000ee;
    text-decoration: underline;
  }

  .email-signature__note {
    font-weight: bold;
    font-style: italic;
  }
}
