footer {
  @include rhythm-padding(2);

  position: relative;
  background: $brand-dark;
  color: $brand-light;
  clear: both;

  a, a:visited {
    color: $brand-light;
    border-bottom: none;
    &:hover {
      color: lighten($brand-light, 10%);
      border-bottom: 1px solid lighten($brand-dark, 10%);
    }
  }

  .copyright p {
    @include small-text;
    margin: 0;
    padding-bottom: 5px; // helps align it with the social footer
    color: $brand-light;
  }
}
