$frame-width: 20px;

@mixin framed--button($width: 5px) {
  border-left: $width solid $cornell-red;
  border-bottom: $width solid $cornell-red;
  text-align: center;
  color: $black;
  padding: .3em 1em;
  display: inline-block;
  font-weight: 600;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: ' ';
    position: absolute;
    background: $cornell-red;
  }

  &::before {
    top: -$width;
    left: -$width;
    height: $width;
    width: 30%;
  }

  @include large {
    $width: 10px;
    padding: 0.5em 1em;

    border-left: $width solid $cornell-red;
    border-bottom: $width solid $cornell-red;

    &::before {
      top: -$width;
      left: -$width;
      height: $width;
      width: 30%;
    }
  }
}

.button--framed {
  @include framed--button;
}

@mixin frame--grid {
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);

  .frame {
    background: white;
    grid-column-start: 3;
    grid-column-end: 18;
    grid-row-start: 5;
    grid-row-end: span 2;
    height: 50px;
  }

  .media-element {
    // grid-column-start: 1;
    // grid-column-end: span 20;
    // grid-row-start: 1;
  }
}

// NOTE - see mixins
@mixin frame($width: 50px, $color: white, $top: false, $right: false, $bottom: true, $left: true) {
  position: relative;
  display: block;
  z-index: 10;

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    background: $color;
  }

  &--inset {
    &::before {
      top: 10%;
      left: 10%;
      width: 80%;
      height: $width;
    }

    &::after {
      top: 10%;
      right: 10%;
      width: $width;
      height: 85%;
    }
  }

  &--top {
  }
}

@mixin frame--around($width: 20px, $color: $white, $height: 60%) {
  width: 100%;
  height: 100%;
  border-bottom: $width solid $color;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: ' ';
    position: absolute;
    bottom: 0;
    width: $width;
    background: $color;
  }

  &::before {
    left: 0;
    height: $height / 2;
  }

  &::after {
    right: 0;
    height: $height;
  }
}


.frame {
  position: relative;
  // @include frame;
}

.microsite-marquee {
  // @include frame--grid;
  display: grid;
  grid-template-columns: 8.5% auto 8.5%;
  grid-template-rows: 50% 17% auto;

  p {
    display: contents;
  }

  img {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .video-callout {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    // grid-row-end: span 2;
  }
}

.body__frame { // Currently unused
  position: absolute;
  width: 100%;
  border-top: $frame-width solid $black;
  top: 0;
  left: 0;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    background: $black;
    top: 0;
    width: $frame-width;
    z-index: 1;
  }

  &::before {
    height: 75px;

    @include medium {
      height: 200px;
    }

    @include large {
      height: 300px;
    }

    @include xl {
      height: 400px;
    }
  }

  &::after {
    height: 30px;
    right: 0;

    @include medium {
      height: 100px;
    }
  }
}
