body.front {
  #highlighted {
    position: relative;
    .category, .field-name-body {
      display: none;
    }

    article {
      $pad: 50px;
      $halfpad: $pad / 2;
      $quarterpad: $pad / 4;

      @include trailer(1);

      display: grid;
      grid-template-columns: 1rem 1fr 1rem;
      max-width: 100%;

      @include small {
        grid-template-columns: 1rem 1fr 1rem;
      }

      @include medium {
        @include trailer(2);

        grid-template-columns: $pad 1fr $pad;
        grid-template-rows: 1fr 20% auto auto;
      }

      @include large {
        grid-template-columns: $pad .8fr 1fr $pad;
        grid-template-rows: $pad 1.5fr 1fr 1fr $pad;
      }

      .field-name-field-image {
        @include double-width($offset-left: 50vw);

        grid-row: 1 / 3;
        grid-column: 1 / -1;
        position: relative;


        @include small {
          @include double-width($undo: true);
        }

        @include medium {
          @include full-width;

          grid-row: 1 / 3;
        }

        @include large {
          @include full-width(true);
          grid-row: 1 / -1;
        }
      }

      h2 { @include title-knockout($pad); }
      h2,
      h3 { // h3 is used as a hack for the knockout background
        z-index: 3;
        grid-row: 2 / 3;
        grid-column: 1 / -1;

        @include small {
          grid-column: 2 / 3;
        }

        @include medium {
          grid-row: 2 / 3;
          grid-column: 2;
        }

        @include large {
          grid-column: 2 / 3;
          grid-row: 2 / -2;
          z-index: 2;
        }
      }

      h3.category { // Hack to show
        display: block;
        background: rgba(0,0,0,.3);
        z-index: 1;
      }

      .promo__content {
        z-index: 3;
        grid-row: 3 / 4;
        grid-column: 2 / 3;

        @include small {
          grid-column: 2 / 3;
          padding: 0 $quarterpad;
        }

        @include medium {
          grid-row: 3 / 4;
          grid-column: 2;
          padding: 0 $halfpad;
        }

        @include large {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
          padding: 0 $pad;
        }

        p {
          @include medium {
            @include adjust-font-size-to(21px, 1.2);
          }
          @include large {
            @include adjust-font-size-to(18px, 1.1);
          }
          @include xl {
            @include adjust-font-size-to(21px, 1.2);
          }
        }
      }

      .link__cta {
        z-index: 3;
        padding: 0;
        grid-column: 2 / 3;
        grid-row: 4;

        @include small {
          padding: 0 $quarterpad;
        }

        @include medium {
          padding: 0 $halfpad;
          position: relative;
          grid-column: 2;
          grid-row: 4;
        }

        @include large {
          grid-column: 2 / 3;
          grid-row: 4 / 5;
          padding: 0 $pad;
        }

        a {
          @include framed--button;

          @include xl {
            @include framed--button(8px);
            @include adjust-font-size-to(25px);
          }
        }
      }

      // Hide the homepage-news relevant items
      .news__date,
      .news__title,
      .news__more-link,
      .links.inline {
        @include hidden;
      }
    }
  }
}
