body.ilr-review {
  .body__frame {
    display: none;
  }

  header {
    background-image: none;
    background-color: white;
    padding-top: $space;

    .jpanel-trigger-container {
      a.jpanel-trigger {
        color: $blue-ilrreview;
      }
    }

    .search-button {
      a {
        color: $black;
        background: transparent;
      }
    }

    #header-region {
      @include full-width;
      @include rhythm-padding(2);

      max-height: 150px; // The bg image size
      background-color: $blue-ilrreview;
      a {
        color: white;
      }

      h2 {
        font-style: italic;
      }

      .region-header {
        @include container;

        padding: 0 $space;

        @include medium {
          padding: 0 $double-space;
        }

        @include breakpoint($page-max-width) {
          padding: 0;
        }

        .subsite-header .subsite__heading {
          &--ilr-review {
            color: white;
            font-family: arial;
            font-style: italic;
            font-size: 2rem;
            font-weight: 300;
            text-transform: none;
            letter-spacing: 0;
            margin: 0;
          }
        }
      }
    }
    .logo-wrapper {
      margin-bottom: $space;
    }
  }

  header[data-eq-state="regular-nav"] {
    #header-region {
      background: $blue-ilrreview url("../images/bg-globe-blue.gif") no-repeat left top;
    }
  }

  #main a {
    border-bottom: 1px solid $gray-light;
  }
}

#sidebar-second .ilrreview-citations ul {
  @include bulleted-list(true);
}
