span.file img.file-icon {
  @extend .hidden;
}

// Responsive video hack
// Courtesy of http://alistapart.com/article/creating-intrinsic-ratios-for-video
.media-youtube-video {
  padding-top: 25px;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
