.node-type-memory-book {
  .breadcrumb, #page-title {
    @extend .hidden;
  }

  #block-views-reflections-block {
    margin: 0 auto;
    max-width: $section-max-width;
    .views-row { // Make the reflections full width on memory book pages
      width: 100% !important;
    }
  }
  article.node-reflection {
    border: none;
    border-bottom: 1px solid $gray-medium;
    border-radius: 0;
    @include trailer(1.5);
    @include padding-trailer(2);

    h2, .social-share {
      @extend .hidden;
    }
  }
}


