.node-news-item {
  .not-front & {
    .news__content {
      @include hidden;
    }
  }
}

.node-type-news-item {
  .field-name-field-description {
    @include adjust-font-size-to(28px);
    @include adjust-leading-to(1);
    font-weight: 300;
  }

  .field-name-field-published-date {
    @include trailer(1);

    font-weight: 400;

    @include medium {
      float: left;
    }
  }

  ul.social-share {
    @include medium {
      float: right;
    }
  }

  .field-name-body {
    clear: both;
  }

  p.loaded {
    @include rhythm(1);

    @include medium {
      @include rhythm(2);
      @include full-width;
    }

    @include large {
      left: 31%;
      max-width: 103vw;
      width: 103vw;
    }

    @include xl {
      left: 50%;
    }

    img.image-style-focussed_main_image {
      @include large {
        width: 55%;
        margin-left: 29vw;
      }

      @include xl {
        width: 46%;
        margin-left: 27vw;
      }

      @include breakpoint($full-break) {
        width: 42%;
        margin-left: 29vw;
      }
    }
  }
}

.view-news-archive {
  .views-row-last + h3 {
    margin-top: 1em;
  }
  .views-row {
    float: none !important; //overrides columns
  }
  ul.pager {
    text-align: left;
  }
}
