#block-bean-news-featured {
  article {
    @include featured-news-over-cards;

    .field-type-image {
      @include full-width($undo: true);
    }

    .promo__content {
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1rem;

      @include large {
        margin-left: 100px;
        margin-right: 100px;
        padding: 0 0 $space 0;
      }
    }
  }
}

#block-bean-news-top-stories,
#block-bean-latest-ilr-news {
  article {
    @include card;
  }
}
