#main {
  .field-item.paragraph-type-sponsor-message {
    margin: 0;
  }

  .paragraphs-item-sponsor-message {
    @include padding-leader(2);
    @include padding-trailer(4);
    background: white;
    margin: 0;


    @include large {
      @include padding-leader(4);
      @include padding-trailer(5);
    }

    h2 {
      text-align: center;
      @include adjust-font-size-to(22px);
      @include adjust-leading-to(1);
      font-weight: 300;
    }

    .tower {
      font-weight: 300;
      color: $black;
      font-size: 0.8rem;

      @include medium {
        @include adjust-font-size-to(1rem, 1);
      }

      @include large {
        @include adjust-font-size-to(1.2rem, 1.1);
      }

      @include xl {
        @include adjust-font-size-to(1.5rem, 1.4);
      }

      &:before {
        @include adjust-font-size-to(25px);
        @include adjust-leading-to(1.5);
        color: $black;
        display: block;
      }
    }

    &--wide {
      @include large {
        @include full-width;
      }
    }

    &--dark {
      background: $cornell-red;
      h2,
      .tower,
      .centered-blurb {
        color: white;
        &::before {
          color: white;
        }
      }
    }
  }

  .centered-blurb {
    max-width: $section-max-width;
    color: $black;
    padding: 0 $double-space;
    text-align: center;

    @include large {
      padding: 0;
    }
  }
}
