#main {
  .paragraphs-item-compare-three--text-only {
    @include padding-leader(1.5);
    @include padding-trailer(1.5);
    .content {
      @include grid-span (12);

      a {
        @include medium {
          @include three-column;
        }
      }
    }

    article.field-name-field-animated-text-card {
      border: 1px solid transparent;
      border-radius: 6px;
      min-height: 550px;
      padding: 2em 1.5em 1em;
      text-align: center;
      &:hover {
        border: 1px solid $gray-light;
      }
      h2 {
        padding-top: 1em;
        font-weight: 300;
      }
      .field-name-field-teaser p {
        line-height: 1.75;
      }
      ul {
        background: $cornell-red;
        border: 15px solid $darker-red;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 2px $darker-red;
        list-style-type: none;
        width: 170px;
        height: 170px;
        margin: 0 auto 0;
        padding-left: 0;
        font-size: 22px;
        font-weight: 400;
        color: white;
        &.active{
          background: $darker-red;
          border: 15px solid $cornell-red;
        }
        li {
          list-style-position: inside;
          height: 0;
          padding-left: 0;
          opacity: 0;
          visibility: hidden;
          &:first-child {
            width: 140px;
            height: 140px;
            border: 1px solid #c01d1d;
            border-radius: 50%;
            line-height: 125px;
            opacity: 1;
            visibility: visible;
          }
          span.circle-blurb {
            display: inline-block;
            vertical-align: middle;
            line-height: 1.2;
            font-weight: 300;
            text-transform: lowercase;
            span.first-word {
              font-weight: 600;
              text-transform: uppercase;
              &.number {
                font-size: 50px;
              }
            }
            &.all-caps {
              span.last-word {
                font-weight: 600;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }

  .paragraphs-item-compare-three--with-images {
    @include breakpoint($section-max-width) {
      @include full-width;
      @include padding-leader(3);
      @include padding-trailer(3);
      background: lighten($warm-grey, 10%);

      .content {
        padding: 0 $double-space;
      }
    }

    .content {
      @include container;
      @include three-column-grid;
    }

    article {
      background: $cornell-red;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &:nth-of-type(2n) {
        background: $lighter-red;
      }

      &:nth-of-type(3n) {
        background: $black;
      }

      .field-name-field-image {
        @include square-to-4x6;

        margin: 0;
      }

      h2 {
        @include set-heading(true, white);
      }

      h2,
      .field-name-field-teaser {
        @include leader(1);
        @include padding-trailer(1);

        padding: 0 1rem;
        color: white;
      }

      p {
        color: white;
      }

      .link__cta {
        @include padding-leader(1);
        @include padding-trailer(1);
        margin-top: auto;
        text-align: center;
        grid-row: -1;

        .button {
          @include framed--button($width: 4px, $link-color: white, $frame-color: white);
        }
      }
    }
  }

  .paragraphs-item-compare-three {
    .link-item {
      @include hidden;
    }
  }
}

// #main[data-eq-state="550"] {
//   .paragraphs-item-compare-three {
//     @include padding-leader(1);
//     @include padding-trailer(1);
//     article.field-name-field-animated-text-card {
//       @include one-column;
//       min-height: 0;
//     }
//   }
// }

// #main[data-eq-state="768"] {
//   .paragraphs-item-compare-three {
//     @include padding-leader(1.5);
//     @include padding-trailer(1.5);
//     article.field-name-field-animated-text-card {
//       // @include three-column-masonry;
//     }
//   }
// }

// #main[data-eq-state="widescreen"] {
//   .paragraphs-item-compare-three {
//     @include padding-leader(1.5);
//     @include padding-trailer(1.5);
//     article.field-name-field-animated-text-card {
//       // @include three-column-masonry;
//     }
//   }
// }
