#main {
  .paragraphs-item-social-feed {
    @include padding-leader(1.5);
    @include padding-trailer(1.5);
    ul {
      margin: 0 auto;
    }
    li {
      margin: 0;
    }
    article.social-feed {
      @include padding-leader(0);
      @include padding-trailer(0);
      @include trailer(.5);
      padding-left: 2em;
      padding-right: 2em;
      text-align: center;
      @include one-column;

      .field-name-group {
        .field-name-twitter-handle {
          @include trailer(.5);
        }
        .field-name-twitter-handle a, .field-name-time-stamp {
          @include adjust-font-size-to(14px);
          text-transform: uppercase;
          font-weight: 600;
          color: $link;
        }
        .field-name-time-stamp {
          margin-bottom: 1em;
        }
        .field-name-tweet {
          p {
            @include adjust-font-size-to(16px);
            @include adjust-leading-to(1.1);
          }
        }
      }
    }
  }
}
