#main {
  .paragraphs-item-side-by-side-text {
    @include large {
      padding: 0 50px;
    }

    @include xl {
      padding: 0 100px;
    }

    .content {
      @include two-column-grid($gap: 100px);

      p,
      li {
        @include small-text(0.9);
      }

      ul.field-name-field-multiple-links {
        padding: 0;

        li {
          padding: 0;
        }
      }
    }
  }
}
