#main {
  .paragraphs-item-featured-promo {
    padding: 0;

    h2 {
      @include adjust-font-size-to(1.2rem, 1);
      @include set-heading(true, white);
      @include framed($width: 10px, $color: white, $top: false, $right: true, $bottom: true, $left: false);

      @include medium {
        @include adjust-font-size-to(1.5rem, 1.1);
      }

      @include xl {
        @include adjust-font-size-to(2rem, 1.5);
      }

      @include breakpoint($page-max-width) {
        @include adjust-font-size-to(3rem, 2);
      }
    }
    p {
      color: white;
      @include trailer(.5);
    }
    iframe {
      width: 100%;
    }

    .content {
      @include two-column-grid($gap: 0);
    }

    .field-name-field-image, .field-name-field-youtube-video {
      margin: 0;
      line-height: 0;
      grid-row: 1;
      grid-column: 1;
    }

    .group-featured-promo-story {
      grid-row: 2;
      padding: 0 25px;

      @include medium {
        padding: 0 50px;
      }

      @include large {
        grid-column: 2;
        grid-row: 1;
      }

      ul {
        padding-left: 0;
        li {
          padding-left: 0;
          background: none;
          a {
            color: white;
            border-bottom-color: white;
          }
        }
      }
    }

    .field-name-field-youtube-video {
      grid-column: 1;
      @include responsive-video;
    }

    &--image-right {
      h2 {
        // Re-set the frame
        @include framed;
      }
      .group-featured-promo-story {
        grid-column: 1;
      }
      .field-name-field-image, .field-name-field-youtube-video {

        @include large {
          grid-column: 2;
        }
      }
    }
  }
}
