$social-channels: linkedin, facebook, twitter, youtube, instagram, mail;

@for $i from 1 through length($social-channels) {
  .#{nth($social-channels, $i)}, .follow-#{nth($social-channels, $i)} {
    @extend %icon-#{nth($social-channels, $i)};
  }
}
.snapchat,
.follow-snapchat {
  @include fontello-icon('snapchat');
}

#block-bean-footer-social {
  ul {
    @include bulleted-list($undo: true);
  }
}

ul.social-share {
  @include inline-block-list;
  @include trailer(1);

  li {
    border: 1px solid $gray-medium;
    padding-left: 0;
    margin-left: .15em;
    background: none;
    border-radius: 50%;
    &:nth-child(1) {
      margin-left: 0;
    }
    a {
      border: 2px solid white;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding-top: 8px;
      text-align: center;
      @include adjust-font-size-to(15px);
      @include adjust-leading-to(1);
      color: $bg-body;
      &.mail {
        background-color: #c87b3a;
        padding-top: 10px;
      }
      &.twitter{
        background-color: #55acee; //official color
        padding-top: 9px;
      }
      &.linkedin {
        background-color: #0077b5; //official color
        padding-left: .5em;
      }
      &.facebook {
        background-color: #3a5795; //official color
      }
      &:hover {
        background-color: $gray-dark;
      }
      span {
        display: none;
      }
    }
  }
}


ul.social {
  @include inline-block-list;

  #sidebar-second & {
    @include bulleted-list(false);
  }

  li {
    border: none;
    padding-left: .5em;
    margin-left: 0;
    background: none;
    border-radius: 0;

    a {
      background-color: transparent;
      display: block;
      width: auto;
      height: auto;
      border:none;
      border-radius: 0;
      padding-top: 0;
      color: $brand-light;
      &.mail,
      &.twitter,
      &.youtube,
      &.follow-mail,
      &.follow-twitter,
      &.follow-youtube {
        padding-top: 5px;
      }
      &:hover {
        border:none;
      }
      span {
        display: none;
      }
    }
  }
}
