$social-channels: linkedin, facebook, twitter, youtube, instagram, mail;

@for $i from 1 through length($social-channels) {
  .#{nth($social-channels, $i)}, .follow-#{nth($social-channels, $i)} {
    @extend %icon-#{nth($social-channels, $i)};
  }
}
.snapchat,
.follow-snapchat {
  @include fontello-icon('snapchat');
}

#block-bean-footer-social {
  ul {
    @include bulleted-list($undo: true);

    li a {
      color: $white;
    }
  }
}

ul.social-share {
  @include inline-block-list;

  @include medium {
    text-align: right;
  }

  li {
    padding-left: 0;
    background: none;

    a {
      // @include adjust-leading-to(1);
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $black;
      &.mail,
      &.twitter {
        padding-top: 2px;
      }
      &.linkedin {
        padding-left: .5em;
        margin-top: -1px;
      }
      span {
        display: none;
      }
    }
  }
}


ul.social {
  @include inline-block-list;

  #sidebar-second & {
    @include bulleted-list(false);
  }

  li {
    border: none;
    padding-left: .5em;
    margin-left: 0;
    background: none;
    border-radius: 0;

    a {
      background-color: transparent;
      display: block;
      width: auto;
      height: auto;
      border:none;
      border-radius: 0;
      padding-top: 0;
      color: $brand-light;
      &.mail,
      &.twitter,
      &.youtube,
      &.follow-mail,
      &.follow-twitter,
      &.follow-youtube {
        padding-top: 5px;
      }
      &:hover {
        border:none;
      }
      span {
        display: none;
      }
    }
  }
}
