.subsite {
  header {
    position: relative;

    .logo-wrapper {
      @include trailer(1);

      @include medium {
        @include trailer(2);
      }
    }

    #logo {
      @include trailer(1);

      img {
        max-height: 60px;
      }
    }

    .cornell-seal__link {
      display: none;

      @include medium {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        max-width: 70px;
      }
    }

    &[data-eq-state="regular-nav"] {
      .cornell-seal__link {
        top: -130px;
        right: $frame-width;
        max-width: 85px;

        @include breakpoint(1450px) {
          max-width: 100px;
          right: 0;
        }
      }
    }
  }


  #header-region {
    @include container;
    @include transition-duration(.3s);

    position: relative;
    overflow: visible;

    .region-header {
      display: flex;
      flex-direction: column;

      @include large {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
      }

      .subsite-header {
        width: 35%;
        max-width: 400px;

        .subsite__heading {
          @include set-heading(true, $cornell-red);
          @include adjust-font-size-to(2em, 1.1);

          margin-bottom: 1rem;

          @include medium {
            @include adjust-font-size-to(3.5em, 2);

            margin-bottom: 1.5rem;
          }

          span {
            color: $black;
          }
        }

        .subsite__subheading {
          @include set-heading(true);

          font-size: 16px;

          @include hide($medium-only);

          @include large {
            font-size: 20px;
          }

          letter-spacing: 0;
          margin: 0;
          line-height: 1;
        }
      }
    }
  }
  // header[data-eq-state="mobile-nav"] {
  //   #header-region {
  //     .subsite-header {
  //       p {
  //         margin-top: .5em;
  //         margin-bottom: .4em;
  //       }

  //       h2 {
  //         margin-top: 0;
  //       }
  //     }
  //   }
  // }
  // &.wrapped {
  //   .subsite-header {
  //     width: 75%;
  //     h2 {
  //       margin-bottom: 17px;
  //       padding-bottom: 0;
  //     }
  //   }
  // }
  // header[data-eq-state="mobile-nav"] {
  //   #header-region {
  //     .subsite-header {
  //       width: 75%;
  //       h2 {
  //         @include adjust-font-size-to(22px);
  //         @include rhythm(.5,0,0,0,22px);
  //         @include adjust-leading-to(.75);

  //         &.image {
  //           overflow: hidden;
  //           height: 20px;
  //         }
  //         &.Conversations {
  //           height: auto;
  //         }
  //         &.ILR {
  //           height: 32px;
  //           img {
  //             max-width: 80px;
  //           }
  //         }
  //         img {
  //           max-width: 200px;
  //         }
  //       }
  //     }

  //     &.sticky h2 {
  //       display: block;
  //       margin: 0;
  //     }
  //   }
  // }

  &.sustainable-labor-practices #header-region {
    background-color: $dark-blue;
    .subsite-header {
      width: 521px !important;
    }
    a, a:visited, a:active {
      color: $gray-light;
      &:hover {
        color: lighten($gray-light, 10%);
        border-bottom-color: lighten($gray-wi,8%);
      }
    }
  }
}

// Called from _mega_menu.scss
// .subsite .menu-block-ilr-primary-menu:
%sub-site-menu {
  ul.menu {
    @include inline-block-list;

    .wrapped & {
      margin: 0;
      padding: .5em 0;
    }
  }

  li {
    background: none;
    padding: 0;
    margin-right: 1.5rem;
  }

  a {
    font-size: 16px;
    color: $black;
    font-weight: 400;
    border-bottom: none;

    @include large {
      font-size: 17px;
    }

    @include breakpoint(1450px) {
      font-size: 19px;
    }

    &:hover {
      border-bottom: 3px solid $cornell-red;
    }
  }
}
