// Todo: Clean up this file

%current-menu-item {
  font-weight: 600;
  color: $brand;
}

.block-menu-block { // All nav menus
  clear: both;
  h2 {
    @include trailing-border;
    @include paragraph-text;

    font-weight: 600;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;
    position: relative;

    &::before {
      content: '\27E8';
      position: absolute;
      left: -1rem;
    }
  }
}

#jPanelMenu-menu {
  @include padding-leader(1);
  background: $cornell-red;
}

.sidebar #block-menu-block-ilr-subnav {
  position: relative;
}

.menu-block-ilr-subnav ul.menu {
  padding: 0;

  li {
    // @include trailing-border; // Removing for now

    list-style-type: none;
    list-style-image: none;
    background: none;
    padding: 0.3rem 0;
    margin: 0;

    &:first-child {
      padding-top: 0.2rem;
    }
  }

  a {
    display: block;
    border: none;
    color: #222;
    font-weight: 400;
  }

  .active-trail {
    color: $link;
  }

  ul {
    margin: 0.5rem 0 0 1rem;
  }

  #jPanelMenu-menu & {
    @include padding-leader(3);

    li {
      background: $cornell-red;
      padding-right: 1rem;
    }

    a {
      color: white;
      display: block;
      padding-left: 2rem;
      line-height: 1.1;
    }

    ul {
      padding-top: 0.5rem;
      display: block;

      li {
        padding-right: 0;

        a {
          padding-left: 3rem;
        }
      }
    }
  }
}

#main {
  #sidebar-first {
    display: none;
  }

  [data-eq-state="regular-nav"] & {
    #sidebar-first {
      display: block;
    }
  }
}
