nav {

  &.main li {
    font-size: 1.2rem;
  }

  clear: both;
  h2 { display: none; }

  #secondary-menu {
    float: right;
  }

  li {
    display: inline-block;

    &.first {
      padding-left: 0;
    }

    a, a:visited, a:active {
      text-decoration: none;
      color: $nav-color;
      font-size: em-calc(12);
      font-weight: 600;

      footer & {
        color: $footer-nav-color;

        &:hover {
          color: lighten($footer-nav-color, 10%);
        }
      }
    }
  }
}

.menu-block-wrapper {
  ul {
    margin: 0;
    padding: 0;

    li {
      padding-left: 1em;
      a {
        display: block;
        padding: 1em 0;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  & > ul.menu { //first children only
    border-top: 1px solid;
    li {
      list-style: none;
      margin: 0;
    }

    & > li { //first children
      border-bottom: 1px solid;
    }
  }
}
