nav {
  @include grid-row(12);
  height: 39px;
  padding-left: 15px;

  &.main li {
    font-size: 1.1rem;
  }

  clear: both;
  h2 { display: none; }

  #secondary-menu {
    float: right;
  }

  li {
    background: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    &.first {
      padding-left: 0;
    }

    a, a:visited, a:active {
      text-decoration: none;
      color: $nav-color;
      font-size: $mod00;
      font-weight: 400;
    }
  }
}

.region-sidebar-second {
  h2 {
  display: none;
  }
}
  
.menu-block-wrapper {
  margin-bottom: $mod05;
  
  ul {
    margin: 0;
    padding: 0 1em;

    li {
      background: none;
      .active {
      color: $cornell-red;
      font-weight: 600;
    }
    
      a {
        color: $gray-dark;
        display: block;
        padding: 1em 0;
        &:hover {
          color: $brand;
          //text-decoration: none;
        }
      }
    }
  }

  & > ul.menu { //first children only
    border-top: 1px solid #e7e5db;
    @include tablet-landscape-and-up {
      border-top: none;
    }

    li {
      list-style: none;
      margin: 0;
    }

    & > li { //first children
      border-bottom: 1px solid #e7e5db;
    }
  }
}


//These styles should be renamed and used for sub-site nav once region is created
/*
//siteNavigation
#highlighted .content {
  background: $gray-dark;
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(#7b6e6b, $gray-dark));
  //sitenav
  .menu-block-ilr-subnav {
    height: 50px;
    margin: 0;
    padding: 0;
    @include grid-row;

    ul {
      margin: 0;
      padding: 0;

      li {
        border-bottom: none;
        color: #fff;
        font-family: $font;
        font-size: $base-font-size;
        @include text-shadow(#000 0px 2px 3px);
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#363636,direction=180,strength=5);
        //width: 100%;
        @include grid-column($columns:12, $collapse:true);
        height: 50px;
        padding: 10px 20px 0 20px;
        float: left;
        @include tablet-landscape-and-up {
          width: auto;
          display: inline;
          float: left;
        }

        a {
          color: #fff;
          padding: 0;
        }
      }
    }

    ul li.active {
      background-color: #80736f;
    }
  }
}*/
