body.microsite.subsite-front {
  #main {
    @include layout--full-width-grid;
  }

  #content-bottom {
    padding: 0;

    .block-bean {
      @include one-column;

      .microsite-featured-speakers {
        @include three-column-grid;

        padding: $space;

        @include large {
          padding: $double-space;
        }
      }

      .microsite-moderators {
        @include four-column-grid;
      }
    }

    .microsite-featured-speakers {
      // @include three-column-grid;
      // article.featured-speaker {
      //   @include one-column;

      //   @include medium {
      //     @include two-column;
      //   }
      // }
      h2 {
        grid-column-start: 1;
        grid-column-end: span 3;
      }

      article {
        width: 100%;
      }
    }

    .microsite-individual-speaker {
      article.featured-speaker {
        margin: 0 auto;
        width: 100%;
        // max-width: 400px;
      }
    }
  }
}
