@mixin frame--knockout($width: 25px, $color: $black, $top: false, $right: false, $bottom: true, $left: true) {
  overflow: hidden;
  border-bottom: $width solid $color;
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    background: $color;
  }

  &::before {
      top: 2rem;
      right: 0;
      width: $width;
      height: 100%;
    }

    &::after {
      top: 2rem;
      right: 0;
      width: 30%;
      height: $width;
    }
  &--inset {
    &::before {
      top: 10%;
      left: 10%;
      width: 80%;
      height: $width;
    }

    &::after {
      top: 10%;
      right: 10%;
      width: $width;
      height: 85%;
    }
  }
}

@mixin slug() {
  h2 {
    @include adjust-leading-to(1);
    @include adjust-font-size-to(16px);
    margin-bottom: 0;
    font-weight: 400;
  }
  // Hide everything but the title
  div, ul.links, h3, h4 {
    display: none;
  }

  a {
    color: $p-text;
    font-family: $font-headers;
    font-weight: bold;

    display: block;
    position: relative;
    background: darken(white, 1%);
    padding: 1em 2.5em 1em 1em;
    border: 1px solid #e0e0e0;
    border-bottom-width: 3px;
    @include trailer(1);

    &:hover {
      text-decoration: none;
      background: white;
    }

    @extend %icon-after-arrow-right-bold;

    &::after {
      display: block;
      position: absolute;
      right: 5%;
      top: 50%;
      margin-top: -10px;
      color: lighten($brand, 5%);
      font-size: 14px;
    }
  }
}

@mixin thumb() {
  @include trailer(1);

  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: 30px 1fr;
  grid-gap: 5%;
  padding: 1rem;
  background: lighten($warm-grey, 13%);
  flex-direction: row;

  .field-type-image,
  .field-name-field-youtube-video,
  .thumbnail.custom {
    grid-column: 1;
    grid-row: 1 / -1;
    line-height: 0.5;
  }

  h2, h3 {
    grid-column: 2;
  }

  h3 {
    text-transform: uppercase;
    grid-row: 1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1;
    margin: 0 0 0.5rem;
    color: $dark-gray-orange;
  }

  h2 {
    grid-row: 2;
    line-height: 0.9;
    font-size: 19px;
    margin: 0;
  }

  .field-type-text-with-summary,
  .field-name-field-description,
  .field-name-field-campaign-intro,
  .field-name-field-campaign-title,
  .field-name-field-teaser,
  .student-name,
  .news__content,
  .promo__content {
    @include hidden;
  }

  .thumbnail.custom {
    @include custom-thumbnail;
  }
}

@mixin card {
  @include trailer(1);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  float: none !important; // Weird grid issue
  background: $color-card-bg--light;
  padding: 0;

  > h2, // Duplicates - @see _tagged_content_add_markup_to_group()
  > h3,
  .field-name-field-teaser {
    @include hidden;
  }

  .field-type-image {
    @include square-to-4x6;

    order: 1;
    margin: 0;

    a { // Deal with the aspect ratio used elsewhere
      padding: 0 !important;
      line-height: .5;

      img {
        position: relative !important;
      }
    }
  }

  .news__content,
  .promo__content,
  .field-type-text-with-summary {
    @include show; // Override thumbs

    background: $color-card-bg--light;
    order: 2;
    flex-grow: 1;
    padding: $half-space $space $double-space;

    @include medium {
      padding: $space $double-space $double-space;
    }

    @include large {
      padding: $half-space $space $double-space;
    }

    @include xl {
      padding: $space $double-space $double-space;
    }
  }

  .news__date {
    @include adjust-font-size-to(15px);

    color: $dark-gray-orange;
    padding: 0 0 1rem;
  }

  // Posts...
  h2,
  .field-name-field-published-date,
  .field-type-text-with-summary,
  ul.links {
    padding: $half-space $space 0;

    @include medium {
      padding: $half-space $double-space 0;
    }

    @include large {
      padding: $half-space $space 0;
    }

    @include xl {
      padding: $space $double-space 0;
    }
  }

  .field-name-field-published-date {
    @include adjust-font-size-to(15px);

    order: 2;
    color: $dark-gray-orange;
  }

  .field-type-text-with-summary {
    p {
      @include adjust-font-size-to(.9rem, 0.8);
    }

    order: 4;
  }
  ul.links {
    order: 5;
    padding-top: 0;

    li {
      background: none;
      padding: 0;
    }

    a {
      @include set-link($black);
    }
  }
  // End posts...

  .news__title {
    h2 {
      @include set-heading;
      @include adjust-font-size-to(1.5rem, 1);

      background: $warm-grey;
      padding: 0 0 1rem;

      @include large {
        @include adjust-font-size-to(1.3rem, 1);
      }

      @include xl {
        @include adjust-font-size-to(1.5rem, 1);
      }

      a {
        font-family: $font;
        text-transform: none;
      }
    }
  }

  .news__teaser {
    p {
      @include adjust-font-size-to(.9rem, 0.8);
    }
  }

  .news__more-link {
    a {
      color: $black;
      padding-bottom: 4px;
      border-bottom: 3px solid $cornell-red;
    }
  }
}

@mixin card--overlay {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 0.5rem 1fr 0.5rem;
  grid-template-rows: 50% 50%;
  padding: 0;

  @include large {
    grid-template-columns: 1rem 1fr 1rem;
  }

  .field-type-image {
    @include image-ratio-hack(85%);
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    a {
      top: -10%;
    }
  }

  h2 {
    @include padding-trailer(0.5);
    @include increase-readability(15px);

    font-size: 2rem;
    font-weight: bold;
    grid-column: 2;
    grid-row: 2;
    z-index: 2;
    align-self: end;
    color: white;

    @include large-only {
      font-size: 1.3rem;
    }

    a {
      @include set-heading(false, white);
    }
  }

  .promo__content,
  .news__content,
  h3 {
    @include hidden;
  }
}

@mixin card--dark() {
  @include image-heading-text;
  @include clearfix;

  // border: 1px solid $gray-light;
  // border-radius: 6px;
  @include trailer(1.5);
  @include padding-leader(1);
  &:hover {
    background: white;
    border-color: $gray-medium;
  }

  h2, h3, h4 {
    @include set-heading(true);
    background: $black;
    margin: 0;
    padding: 0 1rem 2rem 1rem;

    a, a:visited, a:active {
      @include set-heading(true);
      letter-spacing: 0;
      color: white;
    }
  }

  h2 {
    @include adjust-font-size-to(2rem, 1.2);
  }

  h3 {
    @include padding-leader(1);
    color: white;
    letter-spacing: 0;
  }

  h4 {
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    @include adjust-font-size-to(14px);
  }

  @include addHighlightColors('.thumbnail.custom a', 'background-color', .2);
  .thumbnail.custom {
    @include custom-thumbnail;
    @include circularImage(150px);
    margin: 0 auto;
    &.event a {
      background: $event-color;
      @include adjust-font-size-to(25px);
      padding-top: .5em;
      line-height: .8;
    }
  }

  &.node-basic-page,
  &.node-news-item,
  &.node-promo,
  &.node-youtube-video {
    .field-type-image,
    .field-type-youtube {
      @include square-to-3x4;
    }
  }

  &.node-student-portrait,
  &.localist-event {
    .field-type-image {
      margin: 0 auto;
      @include circularImage(150px);
    }
  }

  .field-type-text-with-summary,
  .field-name-field-description,
  .field-name-field-campaign-intro,
  .field-name-field-campaign-title,
  .field-name-field-teaser {
    display: none;
  }
}

@mixin card--person($bg-color: $black) {
  @include image-heading-text;
}

@mixin card-rounded() {
  display: none;
  @include padding-leader(0);
  @include padding-trailer(.5);
  overflow: auto;
  @include clearfix;
  border: 1px solid $gray-light;
  border-radius: 8px;

  h2 {
    // padding: 1em .8em 0;
    // @include margin-trailer(0);
    text-align: left;
    a {
      color: $darker-red;
      &:hover {
        cursor: default;
      }
    }
  }
  .field-type-text-with-summary {
    display: block;
  }
  .field-name-body {
    padding-right: 1em;
    padding-left: 1em;
    @include padding-leader(0);
    p {
      @include margin-leader(.8);
      @include margin-trailer(0);
    }
  }
  .field-name-field-full-name {
    padding-left: 1em;
    @include margin-leader(.5);
    font-style: oblique;
  }
  div.field-name-field-youtube-video > a {
    border-bottom: none;
  }
}

@mixin card-animated() {
  position: relative;
  &:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  h2, h3 {
    background: rgba(0,0,0,.3);
    font-style: normal;
    margin: 0;
    // padding: .5em 25px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 5;
    text-shadow: 1px 1px 2px black;
    a {
      font-family: $font;
      color: white;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }

  .field-name-field-image {
    background: black;
    overflow: hidden;
  }

  img {
    width: 100%;
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
  }
}

@mixin custom-thumbnail() {
  &.event {
    @include circularBg(70px);

    @include medium-only {
      @include circularBg(90px);
    }

    @include xl {
      @include circularBg(90px);
    }

    a {
      display: block;
      text-align: center;

      span {
        @include set-heading(true);
        @include center($absolute: true);

        display: block;
        line-height: 1;

        @include medium-only {
          a span {
            @include adjust-font-size-to(25px, 1);
          }
        }

        @include xl {
          a span {
            @include adjust-font-size-to(28px, 1);
          }
        }
      }
    }
  }

}

@mixin image-first() {
  flex-direction: column;
  display: flex;

  h3                     { order: 1; }
  .field-type-image,
  .field-type-youtube,
  .thumbnail.custom      { order: 2; }
  h2                     { order: 3; }
  .student-name          { order: 4; }
}

@mixin image-heading-text() {
  flex-direction: column;
  display: flex;

  .field-type-image,
  .field-type-youtube                     { order: 1; }
  h3                                      { order: 2; }
  h2                                      { order: 3; }
  .field-type-text-with-summary           { order: 4; }
  ul.links                                { order: 5; }
  .field-name-field-full-name             { order: 6; }
  ul                                      { order: 7; }
}

@mixin title-knockout($pad: 50px) {
  @include adjust-font-size-to(1.5rem);

  @include medium {
    @include adjust-font-size-to(2rem);
  }

  @include large {
    @include adjust-font-size-to(2.6rem);
  }

  // @include breakpoint($full-break) {
  //   @include adjust-font-size-to(2.6rem);
  // }

  @include breakpoint($page-max-width) {
    @include adjust-font-size-to(3.2rem);
  }

  mix-blend-mode: lighten;
  margin: 0;

  a {
    @include adjust-font-size-to(1.2em);
    @include set-heading(true);
    line-height: 0.9;
    display: block;
    height: 100%;
    color: $black;
    background-color: white;
    width: 100%;
    padding: $pad / 4 $pad / 4 20px $pad / 4;
    position: relative;

    @include medium {
      padding: $pad / 2;
    }

    @include large {
      margin: 0;
      padding: $pad;
    }
  }
}

@mixin square-to-3x4 {
  @include image-ratio-hack(75%);
  a {
    img {
      top: -12.5%; // Square images need a negative margin for vertical positioning
    }
  }
}

@mixin square-to-4x6 {
  @include image-ratio-hack;
  a {
    img {
      top: -16.5%;
    }
  }
}

@mixin square-to-1x2 {
  @include image-ratio-hack(50%);
  a {
    img {
      top: -25%;
    }
  }
}

@mixin featured-promo {
  padding: 0;

  h2 {
    @include adjust-font-size-to(1.2rem, 1);
    @include set-heading(true, white);
    @include framed($width: 10px, $color: white, $top: false, $right: true, $bottom: true, $left: false);

    @include medium {
      @include adjust-font-size-to(1.5rem, 1.1);
    }

    @include xl {
      @include adjust-font-size-to(2rem, 1.5);
    }

    @include breakpoint($page-max-width) {
      @include adjust-font-size-to(3rem, 2);
    }
  }
  p {
    color: white;
    @include trailer(.5);
  }
  iframe {
    width: 100%;
  }

  .content {
    @include two-column-grid($gap: 0);
  }

  .field-name-field-image, .field-name-field-youtube-video {
    margin: 0;
    line-height: 0;
    grid-row: 1;
    grid-column: 1;
  }

  .group-featured-promo-story {
    grid-row: 2;
    padding: 0 25px;

    @include medium {
      padding: 0 50px;
    }

    @include large {
      grid-column: 2;
      grid-row: 1;
    }

    ul {
      padding-left: 0;
      li {
        padding-left: 0;
        background: none;
        a {
          color: white;
          border-bottom-color: white;
        }
      }
    }
  }

  .field-name-field-youtube-video {
    grid-column: 1;
    @include responsive-video;
  }

  &--image-right {
    h2 {
      // Re-set the frame
      @include framed;
    }
    .group-featured-promo-story {
      grid-column: 1;
    }
    .field-name-field-image, .field-name-field-youtube-video {

      @include large {
        grid-column: 2;
      }
    }
  }
}

// Dumb name. Naming is hard
@mixin featured-news-over-cards {
  width: auto;
  overflow: visible !important;
  float: none;
  margin-bottom: 0;
  background: none;

  .field-type-image {
    @include full-width;

    height: auto;
    padding: 0;

    a {
      position: relative;

      img {
        top: 0;
      }
    }
  }

  .news__content,
  .promo__content {
    @include trailer(1);

    z-index: 2;
    background: $dark-gray-orange;
    margin-top: -1rem;
    position: relative;

    @include medium {
      display: grid !important; // the "show" mixin was causing issues
      grid-template-columns: 2.5% 1fr 1fr 2.5%;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 25px;
      margin-top: -2rem;
      padding: 0 0 2rem 0;
    }

    @include large {
      grid-column-gap: 50px;
      margin-top: -150px;
      padding: $double-space;
    }

    @include breakpoint($full-break) {
      grid-column: 1;
    }
  }

  .news__date {
    color: $warm-grey;

    @include medium {
      @include padding-leader(1);

      grid-column: 2;
    }
  }

  .news__title {
    padding: 0;

    @include medium {
      grid-column: 2;
      grid-row: 2 / -1;
      padding: 0 0 1rem;
    }

    h2 {
      background: $dark-gray-orange;
      color: white;
      padding: 0;

      @include adjust-font-size-to(1.5rem, 1);

      @include large {
        @include adjust-font-size-to(2rem, 1.5);
      }

      @include xl {
        @include adjust-font-size-to(3rem, 2);
      }

      a {
        @include set-heading(true, white);
      }
    }
  }

  .news__teaser {
    @include medium {
      grid-column: 3;
      grid-row: 2;
    }

    p {
      color: white;

      @include large {
        @include adjust-font-size-to(1.1rem, 1.1);
      }
    }
  }

  .news__more-link {
    @include medium {
      grid-column: 3;
      grid-row: 3;

      a {
        color: white;
        border-bottom: 3px solid white;
      }
    }
  }

  > h2,
  h3.category,
  .field-name-field-teaser {
    @include hidden;
  }
}
