// Compass
@import "compass/css3";
@import "compass/typography/lists";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/force-wrap";

// Modular Scale
@import "modular-scale";

// Grid
// @import "singularitygs";
// @import "singularity-extras";
// @import "breakpoint";
// @import "vendor/eq";

// Variables
$page-max-width: 1600px;
$base-font-size: 14px;
$base-line-height: 20px;
$ms-base: $base-font-size, $page-max-width;
$ms-ratio: $golden;

// Base
@import "base/mixins";
@import "base/normalize";
@import "base/variables";
@import "base/base";
@import "base/fonts";
@import "base/typography";
@import "base/helpers";

body {
  background: white;
  font-family: $font-headers;
}

p, a, li {
  font-family: $font-headers;
}

h2, h3, h4, h5, h6 {
  margin-bottom: .5em;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: 1.5em;
  }

h2 + ul, h2 + ul, h2 + ul, h2 + ul, h2 + ul {
  margin-top: -1em;
  margin-bottom: 2em;
}

#page {
  background: white;
  padding: 0 1em;
}

header {
  position: absolute;
  #search-form {
    display: none;
  }
  #header-region {
    // display: none;
    #block-ilr-mega-menu-ilr-mega-menu {
      display: none;
    }
  }
}

body.front {
  #block-bean-homepage-news, #block-bean-ilr-events {
    width: 100% !important;
    margin: 0 0 2em !important;
    float: none !important;
    article {
      margin-bottom: 1em !important;
      width: 45% !important;
      float: left !important;
    }
  }
}

.field-type-blockreference {
  &:not(.field-name-field-highlighted-region) {
    .block.block-bean.tagged-content {
      border-top: 1px solid $gray-medium;
      padding-top: 2em;
    }
  }
}

.field-name-field-content-region {
  .block.block-bean.tagged-content {
    clear: both;
    article {
      margin: 0 0 2em !important;
      width: 45% !important;
      float: left;
      img {
        width: 150px;
        height: auto;
      }
      .field-type-text-with-summary {
        display: none;
      }
    }
  }
}

body.subsite-front {
  // &.worker-institute, &.ilr-at-70, &.mobilizing-against-inequality

  &.ilr-online {
    .container[data-eq-state="regular-nav"] {
      #main {
        width: 100%;
        #content {
          width: 100%;
        }
        #sidebar-second {
          width: 100%;
          clear: both;
        }
      }
    }
  }
}

#main {
  &[data-eq-state="widescreen"], &[data-eq-state="768"] {
    width: 100%;
    @include clearfix;
    #content {
      width: 100%;
      margin-left: 0;
      @include trailer(0);
      .ilr-video-wrapper {
        width: 50%;
        margin: 0 auto;
        float: none;
        clear: both;
      }
    }
    #sidebar-first.sidebar {
      display: none;
    }
    #sidebar-second {
      width: 100%;
      clear: both;
      @include leader(0);
      @include trailer(0);
      img {
        max-width: 150px;
      }
    }
  }
}

.rss-icon {
  display: none;
}

article {
  h3.category {
    display: none;
  }
}

#content-bottom {
  background: white;
  width: 100%;
  article {
    margin: 0 0 2em;
    img {
      width: 150px;
    }
    .field-name-field-description {
      display: none;
    }
  }

  &[data-eq-state="widescreen"] {
    article {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      float: left !important;
    }
  }
}

footer {
  display: none;
}

//ILR at 70
#block-bean-70th-reflections {
  height: auto;
  h2 {
    display: none;
  }
  article.node-reflection {
    border: none;
    border-bottom: 1px solid $gray-light;
    margin-top: 2em;
    padding-bottom: 2em;
    &:nth-last-of-type(1) {
      margin-bottom: 2em;
    }
    h2 {
      display: block;
    }
  }
}

#block-bean-70th-timeline {
  display: none;
}

#content-bottom .block-ilr-reflection {
  h2 {
    display: none;
  }
  .node-reflection-form {
    display: none;
  }
}

ul.social-share {
  display: none;
}

//Faculty profiles
.readmore-js-section {
  height: auto !important;
}

a.readmore-js-toggle {
  display: none;
}

.group-sidebar {
  .field-name-field-profile-image {
    display: none;
  }
}

article.node-people-profile {
  .group-title-and-focus {
    .crumb {
      display: none;
    }
  }
}
