// Compass
@import "compass/css3";
@import "compass/typography/lists";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text/force-wrap";

// Modular Scale
@import "modular-scale";

// Grid
// @import "singularitygs";
// @import "singularity-extras";
// @import "breakpoint";
// @import "vendor/eq";

// // Base
@import "base/mixins";
// @import "base/normalize";
@import "base/variables";
// @import "base/base";
// @import "base/fonts";
// @import "base/typography";
// @import "base/helpers";

body {
  background: white;
}

#page {
  background: white;
}

#logo {
  img {
    width: 375px !important;
    height: 120px !important;
  }
}

body.subsite {
  #logo {
    img {
      width: 205px !important;
      height: 66px !important;
    }
  }
}

header {
  position: absolute !important;
  #header-region {
    display: none;
  }
}

body.front {
  #block-bean-homepage-news, #block-bean-ilr-events {
    width: 100% !important;
    margin: 0 0 2em !important;
    float: none !important;
    article {
      margin-bottom: 1em !important;
      width: 45% !important;
      float: left !important;
    }
  }
}

.field-name-field-content-region {
  .block.block-bean.tagged-content {
    clear: both;
    article {
      margin: 0 0 2em !important;
      width: 45% !important;
      float: left;
    }
  }
}

.field-name-field-content-bottom-region {
  // margin-top: 2em;
  .block.block-bean.tagged-content {
    // margin-bottom: 3em;
  }
}

body.subsite-front {
  // &.worker-institute, &.catherwood-library, &.ilr-at-70, &.mobilizing-against-inequality { // consider using context to add body class
  //   .container[data-eq-state="regular-nav"] {
  //     @extend %one-column-page;
  //   }
  // }
  &.ilr-online {
    .container[data-eq-state="regular-nav"] {
      #main {
        width: 100%;
        #content {
          width: 100%;
        }
        #sidebar-second {
          width: 100%;
          clear: both;
        }
      }
    }
  }
}

#main {
  &[data-eq-state="widescreen"], &[data-eq-state="768"] {
    width: 100%;
    @include clearfix;
    #content {
      width: 100%;
      margin-left: 0;
      @include trailer(0);
      .ilr-video-wrapper {
        width: 50% !important;
        margin: 0 auto !important;
        float: none !important;
        clear: both !important;
      }
    }
    #sidebar-first.sidebar {
      display: none;
    }
    #sidebar-second {
      width: 100%;
      clear: both;
      @include leader(0);
      @include trailer(0);
    }
  }
}

#content-bottom {
  width: 100%;
  article {
    border: 1px solid $gray-medium;
  }

  &[data-eq-state="widescreen"] {
    article {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
      min-height: 380px !important;
      float: left !important;
    }
  }
}

footer {
  display: none;
}
